Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @orangesunny, @comradekingu, @meel-hd

feat(deps): include postgresql-client-17
  ci/apt-install
Owners: none

feat(api): add OpenAPI schema using drf-spectacular
  docs/api.rst
  docs/changes.rst
  pyproject.toml
  weblate/middleware.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/urls.py
  weblate/utils/requirements.py
Owners: @orangesunny, @comradekingu

chore(ci): do not run fossa on pull requests
  .github/workflows/fossa.yml
Owners: none

feat(ci): separate linkcheck to standalone workflow
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Owners: none

chore: improve action formatting
  .github/workflows/test.yml
Owners: none

fix(search): search for full timestamp instead of date
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Owners: none

fix(js): Adjust daterange defaults (#12608)
  weblate/static/loader-bootstrap.js
Owners: @meel-hd

feat(ci): separate linkcheck to standalone workflow
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Owners: none

feat(deps): include postgresql-client-17
  ci/apt-install
Owners: none

feat(api): add OpenAPI schema using drf-spectacular
  docs/api.rst
  docs/changes.rst
  pyproject.toml
  weblate/middleware.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/urls.py
  weblate/utils/requirements.py
Owners: @orangesunny, @comradekingu

fix(search): search for full timestamp instead of date
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Serbian)
  weblate/locale/sr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Serbian)
  docs/locales/sr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Serbian)
  docs/locales/sr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Serbian)
  weblate/locale/sr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

fix(billing): update billing status at the end of removal transaction
  weblate/billing/models.py
  weblate/billing/tasks.py
  weblate/billing/tests.py
  weblate/trans/models/project.py
Owners: none

fix(billing): update billing status at the end of removal transaction
  weblate/billing/models.py
  weblate/billing/tasks.py
  weblate/billing/tests.py
  weblate/trans/models/project.py
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Improved the implementation of firing check_sync when saving and added a test
  weblate/trans/migrations/0023_component_key_filter.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_component.py
Owners: none

grammar correction
  docs/admin/projects.rst
Owners: @orangesunny, @comradekingu

Resolve migration conflict
  weblate/trans/migrations/0024_component_key_filter.py
Owners: none

Updated code based on suggestions
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
Owners: none

Added tests and drop_key_filter_cache()
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
Owners: none

Improved the disable for key_filted in the UI and the filtering condition
  weblate/trans/forms.py
  weblate/trans/models/translation.py
Owners: none

Added key_filter field in Component model
  weblate/trans/migrations/0021_component_key_filter.py
  weblate/trans/models/component.py
Owners: none

WIP 20240802
  weblate/trans/forms.py
  weblate/trans/models/component.py
Owners: none

Applied changes based on comment and mitigated migration conflict
  weblate/trans/migrations/0022_component_key_filter.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
Owners: none

WIP 20240730
  weblate/trans/migrations/0022_component_key_filter.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
Owners: none

Updated the validation error message
  weblate/trans/forms.py
  weblate/trans/tests/test_component.py
Owners: none

Fix merge conflict
  docs/admin/projects.rst
  docs/changes.rst
Owners: @orangesunny, @comradekingu

Added key filter in Component setting form and implemented key filtering in Translation.check_sync
  weblate/api/serializers.py
  weblate/trans/forms.py
  weblate/trans/models/translation.py
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @orangesunny @comradekingu
/client/ @meel-hd
*.js @meel-hd
*.css @meel-hd
