Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

migrate GWTFormat encoding to file format params
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
Owners: @nijel

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

feat(unit): replace auto-translated label with dedicated boolean field
  docs/user/search.rst
  weblate/addons/autotranslate.py
  weblate/api/serializers.py
  weblate/templates/snippets/query-builder.html
  weblate/templates/translate.html
  weblate/trans/bulk.py
  weblate/trans/migrations/0052_unit_automatically_translated_alter_unit_labels.py
  weblate/trans/migrations/0053_migrate_automatically_translated_label_to_unit_field.py
  weblate/trans/models/label.py
  weblate/trans/models/project.py
  weblate/trans/models/unit.py
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/tests/test_search.py
  weblate/utils/search.py
  weblate/utils/stats.py
Owners: @AliceVisek, @nijel

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

allow users to leave a note when blocking a user
  weblate/auth/migrations/0008_userblock_note.py
  weblate/auth/models.py
  weblate/templates/accounts/user.html
  weblate/templates/trans/project-access.html
  weblate/trans/forms.py
  weblate/trans/tests/test_acl.py
  weblate/trans/views/acl.py
Owners: @nijel

chore: remove unused variable assignments (#17024)
  weblate/accounts/tests/test_registration.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/checks/tests/test_views.py
  weblate/glossary/tests.py
  weblate/machinery/modernmt.py
  weblate/trans/tests/test_edit.py
  weblate/wladmin/tests.py
Owners: @nijel

tests: add test for stop behavior in French
  weblate/checks/tests/test_chars_checks.py
Owners: @nijel

feat(add-ons): allow install webhook add-ons multiple times
  docs/changes.rst
  weblate/addons/webhooks.py
Owners: @AliceVisek, @nijel

chore: drop support for Python 3.11
  .github/workflows/test.yml
  ci/pip-install
  docs/admin/install.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  setup.py
  uv.lock
  weblate/formats/base.py
  weblate/machinery/types.py
  weblate/utils/classloader.py
  weblate/utils/files.py
Owners: @AliceVisek, @nijel

tests: add test for stop behavior in French
  weblate/checks/tests/test_chars_checks.py
Owners: @nijel

feat(add-ons): allow install webhook add-ons multiple times
  docs/changes.rst
  weblate/addons/webhooks.py
Owners: @AliceVisek, @nijel

chore: drop support for Python 3.11
  .github/workflows/test.yml
  ci/pip-install
  docs/admin/install.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  setup.py
  uv.lock
  weblate/formats/base.py
  weblate/machinery/types.py
  weblate/utils/classloader.py
  weblate/utils/files.py
Owners: @AliceVisek, @nijel

fix(unit): avoid crash on invalid flags
  weblate/trans/models/unit.py
Owners: @nijel

fix(unit): avoid crash on invalid flags
  weblate/trans/models/unit.py
Owners: @nijel

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Esperanto)
  weblate/locale/eo/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Owners: none
