Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

chore: add type annotations to backups
  weblate/screenshots/models.py
  weblate/trans/backups.py
Owners: @nijel

including merge request to reflect more platforms
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

Update changes.rst
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

sentence correction, clearer meaning
  weblate/accounts/forms.py
Owners: @nijel

feat(vcs): allow pushing in case of merge conflicts (#15556)
  docs/changes.rst
  weblate/trans/models/component.py
  weblate/vcs/base.py
  weblate/vcs/git.py
Owners: @AliceVisek, @orangesunny, @nijel

docs: clarify description of enforced checks (#15520)
  docs/admin/checks.rst
  docs/admin/projects.rst
  weblate/trans/migrations/0001_squashed_weblate_5.py
  weblate/trans/models/component.py
Owners: @AliceVisek, @orangesunny, @nijel

docs: clarify GitHub token options (#15527)
  docs/admin/config.rst
Owners: @AliceVisek, @orangesunny

fix merge conflict
  weblate/trans/migrations/0045_component_file_format_params.py
Owners: @nijel

comma typo fix
  ci/run-migrate
Owners: none

not using direct foreign key assignment
  ci/run-migrate
Owners: none

only create scoped addons in v5.5 and on
  ci/run-migrate
Owners: none

make memory model test more robust
  weblate/memory/tests.py
Owners: @nijel

refactor test helper
  weblate/memory/tests.py
Owners: @nijel

refactor: update file format handling and migration logic for addons
  ci/run-migrate
  weblate/addons/gettext.py
  weblate/formats/base.py
  weblate/formats/ttkit.py
  weblate/trans/models/translation.py
Owners: @nijel

fix: make MemoryModelTest more robust (#15565)
  weblate/memory/tests.py
Owners: @nijel

refactor: remove unused addons and update migration logic for file format parameters
  ci/run-migrate
  docs/admin/config.rst
  weblate/addons/gettext.py
  weblate/addons/json.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/addons/yaml.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/trans/migrations/0045_component_file_format_params.py
  weblate/trans/tests/test_file_format_params.py
Owners: @AliceVisek, @orangesunny, @nijel

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Kabyle)
  docs/locales/kab/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Kabyle)
  docs/locales/kab/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

adjust addon tests
  weblate/addons/tests.py
  weblate/runner.py
Owners: @nijel

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

print stack
  weblate/runner.py
Owners: @nijel

use uv run in run migrate
  ci/run-migrate
  weblate/runner.py
Owners: @nijel

fix(ui): fixes from gh feedback
  weblate/static/loader-bootstrap.js
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/templates/accounts/profile.html
Owners: @KarenKonou
