Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @meel-hd, @nijel

Translated using Weblate (Punjabi (Pakistan))
  docs/locales/pa_PK/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (Old))
  docs/locales/ang/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Norwegian Nynorsk)
  docs/locales/nn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Tamazight (Standard Moroccan))
  docs/locales/zgh/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Abkhazian)
  docs/locales/ab/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Saraiki)
  docs/locales/skr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Moldavian)
  docs/locales/ro_MD/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Cantonese (Traditional Han script))
  docs/locales/yue_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Afrikaans)
  docs/locales/af/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Kannada)
  docs/locales/kn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Igbo)
  docs/locales/ig/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (South American Indian (Other))
  docs/locales/sai/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinook jargon)
  docs/locales/chn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hindi (Latin script))
  docs/locales/hi_Latn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Malagasy)
  docs/locales/mg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Mongolian)
  docs/locales/mn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Awadhi)
  docs/locales/awa/LC_MESSAGES/docs.po
Owners: none

fix(css): history events overlap (#13900)
  weblate/static/styles/main.css
Owners: @meel-hd

feat(ci): run tests on macos
  .github/workflows/macos.yml
  docs/admin/install/venv-macos.rst
Owners: @AliceVisek

fix(tests): use native selenium clear() instead of manual clear
  weblate/trans/tests/test_selenium.py
Owners: @nijel

fix(tests): use native selenium clear() instead of manual clear
  weblate/trans/tests/test_selenium.py
Owners: @nijel

feat(ci): run tests on macos
  .github/workflows/macos.yml
  docs/admin/install/venv-macos.rst
Owners: @AliceVisek

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

fix: use configured timezone in display and commits
  weblate/trans/models/component.py
  weblate/trans/templatetags/translations.py
Owners: @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @meel-hd
*.js @meel-hd
*.css @meel-hd
*.py @nijel
