Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

docs: move location-based flags to admin docs
  docs/admin/checks.rst
  docs/user/checks.rst
Owners: @AliceVisek, @orangesunny

feat: make benchmark command more generic
  weblate/trans/management/commands/benchmark.py
  weblate/trans/tests/test_commands.py
Owners: @nijel

docs: describe placing custom code in Docker container
  REUSE.toml
  docs/admin/install/docker.rst
  pyproject.toml
  weblate/examples/custom_tasks.py
Owners: @AliceVisek, @orangesunny, @nijel

docs: clarify quality gateway workflow description
  docs/workflows.rst
Owners: @AliceVisek, @orangesunny

Documentation fixes
  docs/admin/management.rst
  docs/admin/memory.rst
Owners: @AliceVisek, @orangesunny

docs: describe Celery tasks internals
  docs/admin/install.rst
  docs/admin/install/docker.rst
  docs/admin/management.rst
  docs/contributing/internals.rst
Owners: @AliceVisek, @orangesunny

docs: describe placing custom code in Docker container
  REUSE.toml
  docs/admin/install/docker.rst
  pyproject.toml
  weblate/examples/custom_tasks.py
Owners: @AliceVisek, @orangesunny, @nijel

feat: TM management improvement (#15316)
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/admin/management.rst
  docs/admin/memory.rst
  docs/admin/projects.rst
  docs/changes.rst
  weblate/memory/machine.py
  weblate/memory/management/commands/cleanup_memory.py
  weblate/memory/migrations/0004_memory_status_and_context.py
  weblate/memory/models.py
  weblate/memory/tasks.py
  weblate/memory/tests.py
  weblate/settings_docker.py
  weblate/trans/backups.py
  weblate/trans/forms.py
  weblate/trans/migrations/0042_project_autoclean_tm.py
  weblate/trans/models/_conf.py
  weblate/trans/models/project.py
  weblate/trans/models/unit.py
Owners: @AliceVisek, @orangesunny, @nijel

chore: remove license and copyright info from example files
  weblate/examples/apache-path.conf
  weblate/examples/apache.conf.license
  weblate/examples/apache.gunicorn.conf.license
  weblate/examples/benchmark
  weblate/examples/celery
  weblate/examples/celery-weblate.conf.license
  weblate/examples/celery-weblate.logrotate
  weblate/examples/celery-weblate.service.license
  weblate/examples/check_czech.py
  weblate/examples/check_foo.py
  weblate/examples/fix_foo.py
  weblate/examples/gunicorn.service.license
  weblate/examples/gunicorn.socket.license
  weblate/examples/mt_service.py
  weblate/examples/weblate.nginx.conf.license
  weblate/examples/weblate.nginx.gunicorn.conf.license
  weblate/examples/weblate.uwsgi.ini.license
Owners: @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
