Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

update store config with file_format_params
  weblate/addons/events.py
  weblate/addons/migrations/0008_alter_addonactivitylog_event_alter_event_event.py
  weblate/formats/base.py
  weblate/formats/ttkit.py
  weblate/static/loader-bootstrap.js
  weblate/trans/file_format_params.py
  weblate/trans/migrations/0046_component_file_format_params.py
Owners: @nijel, @KarenKonou

additional mypy ignore
  weblate/trans/file_format_params.py
Owners: @nijel

Update file-format-parameters.rst
  docs/snippets/file-format-parameters.rst
Owners: @AliceVisek, @orangesunny

Update file-format-parameters.rst
  docs/snippets/file-format-parameters.rst
Owners: @AliceVisek, @orangesunny

Add option to hide glossary matches
  docs/admin/projects.rst
  docs/specs/schemas/weblate-component.schema.json
  weblate/checks/tests/test_checks.py
  weblate/glossary/models.py
  weblate/templates/translate.html
  weblate/trans/forms.py
  weblate/trans/migrations/0046_component_hide_glossary_matches.py
  weblate/trans/migrations/0047_set_hide_glossary_matches.py
  weblate/trans/models/component.py
Owners: @AliceVisek, @orangesunny, @nijel

Add missing whitespace
  weblate/trans/file_format_params.py
Owners: @nijel

feat: Parameters for File formats (#15416)
  .pre-commit-config.yaml
  ci/run-migrate
  docs/admin/addons.rst
  docs/admin/config.rst
  docs/admin/management.rst
  docs/changes.rst
  docs/contributing/documentation.rst
  docs/formats.rst
  docs/formats/gettext.rst
  docs/formats/json.rst
  docs/formats/yaml.rst
  docs/snippets/file-format-parameters.rst
  weblate/addons/base.py
  weblate/addons/events.py
  weblate/addons/forms.py
  weblate/addons/gettext.py
  weblate/addons/json.py
  weblate/addons/migrations/0008_alter_addonactivitylog_event_alter_event_event.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/addons/xml.py
  weblate/addons/yaml.py
  weblate/formats/base.py
  weblate/formats/convert.py
  weblate/formats/ttkit.py
  weblate/formats/txt.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/static/loader-bootstrap.js
  weblate/templates/bootstrap3/labelled_multiwidget.html
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/management/commands/list_file_format_params.py
  weblate/trans/migrations/0046_component_file_format_params.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/signals.py
  weblate/trans/tests/test_file_format_params.py
  weblate/trans/tests/utils.py
Owners: @AliceVisek, @orangesunny, @nijel, @KarenKonou

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Marathi)
  docs/locales/mr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none
