Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Hide screenshot modal details link when no URL is available
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

contact.html: Add class name to alert element
  weblate/templates/accounts/contact.html
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
  docs/specs/sbom/partial/javascript.json
  docs/specs/sbom/sbom.json
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
  docs/specs/sbom/partial/javascript.json
  docs/specs/sbom/sbom.json
Owners: @KarenKonou

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

docs: fix typo
  docs/formats/arb.rst
Owners: @AliceVisek, @orangesunny

docs: clarify needed changes while migrating to granian
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

docs: clarify needed changes while migrating to granian
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

fix(accounts): avatar for user without an e-mail
  weblate/accounts/views.py
Owners: @nijel

docs: add missing changelog entry for #15585
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

fix(accounts): avatar for user without an e-mail
  weblate/accounts/views.py
Owners: @nijel

docs: add missing changelog entry for #15585
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

docs: document impact on API users for autotranslate changes
  docs/api.rst
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

fix(glossaries): add missing prefetch needed for permission check
  weblate/glossary/forms.py
Owners: @nijel

docs: describe /search endpoint in more detail
  docs/api.rst
Owners: @AliceVisek, @orangesunny

fix(glossaries): add missing prefetch needed for permission check
  weblate/glossary/forms.py
Owners: @nijel

fix(formats): do not set state on non-existing node
  weblate/formats/ttkit.py
Owners: @nijel

docs: describe /search endpoint in more detail
  docs/api.rst
Owners: @AliceVisek, @orangesunny

fix(formats): do not set state on non-existing node
  weblate/formats/ttkit.py
Owners: @nijel

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
