Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

fix(ui): fix color coding of search result cells
  weblate/static/styles/main.css
Owners: @KarenKonou

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Kannada)
  weblate/locale/kn/LC_MESSAGES/django.po
Owners: none

Update docs/admin/config.rst
  docs/admin/config.rst
Owners: @AliceVisek

Add setting to hide shared glossary components in projects they are shared to
  docs/admin/config.rst
  docs/admin/install/docker.rst
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/trans/views/basic.py
Owners: @AliceVisek, @nijel

Update docs/admin/config.rst
  docs/admin/config.rst
Owners: @AliceVisek

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Kannada)
  weblate/locale/kn/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

fix(add-ons): avoid crash if webhook log is not populated
  weblate/addons/webhooks.py
Owners: @nijel

fix(add-ons): avoid crash if webhook log is not populated
  weblate/addons/webhooks.py
Owners: @nijel

fix(checks): modernize docutils integration
  weblate/checks/markup.py
Owners: @nijel

fix(checks): modernize docutils integration
  weblate/checks/markup.py
Owners: @nijel

Change Weblate installation command in docs
  docs/admin/deployments.rst
Owners: @AliceVisek

docs: document Docker container change
  docs/changes.rst
Owners: @AliceVisek

docs: document Docker container change
  docs/changes.rst
Owners: @AliceVisek
