Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

docs: Improve Backup doc to help with remote Borg backup setup (#16735)
  docs/admin/backup.rst
Owners: @AliceVisek

Apply suggestions from code review
  weblate/checks/icu.py
  weblate/checks/tests/test_icu_checks.py
Owners: @nijel

docs: missing changelog entries
  docs/changes.rst
Owners: @AliceVisek

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

docs: missing changelog entries
  docs/changes.rst
Owners: @AliceVisek

feat(checks): treat undescribed ICU count parameter as plural (#16813)
  docs/changes.rst
  weblate/checks/icu.py
  weblate/checks/tests/test_icu_checks.py
Owners: @AliceVisek, @nijel

chore: releasing 5.14.1
  docs/changes.rst
  docs/changes/contributors/5.14.1.rst
  weblate/utils/version.py
Owners: @AliceVisek, @nijel

chore: setting version to 5.15
  client/package.json
  docs/changes.rst
  docs/changes/contributors/5.15.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/utils/version.py
Owners: @KarenKonou, @AliceVisek, @nijel

chore(js): update vendored libraries
  docs/specs/sbom/partial/javascript.json
  docs/specs/sbom/sbom.json
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Owners: none

feat(api): show admins of group (#16765)
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
Owners: @AliceVisek, @nijel

chore: setting version to 5.14.2
  client/package.json
  docs/changes.rst
  docs/changes/contributors/5.14.2.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/utils/version.py
Owners: @KarenKonou, @AliceVisek, @nijel

fix(glossary): do a full preload when adding
  docs/changes.rst
  weblate/glossary/tests.py
  weblate/glossary/views.py
Owners: @AliceVisek, @nijel

fix: avoid doing full stats update when changing two languages only
  docs/changes.rst
  weblate/trans/models/translation.py
Owners: @AliceVisek, @nijel

fix(deps): dependency updates (#16831)
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
Owners: none

fix(deps): dependency updates (#16832)
  client/package.json
  client/yarn.lock
  docs/specs/sbom/partial/javascript.json
  docs/specs/sbom/sbom.json
  weblate/static/js/vendor/sentry.js
Owners: @KarenKonou

fix(glossary): do a full preload when adding
  docs/changes.rst
  weblate/glossary/tests.py
  weblate/glossary/views.py
Owners: @AliceVisek, @nijel

fix: avoid doing full stats update when changing two languages only
  docs/changes.rst
  weblate/trans/models/translation.py
Owners: @AliceVisek, @nijel

chore: releasing 5.14.2
  docs/changes.rst
  docs/changes/contributors/5.14.2.rst
  weblate/utils/version.py
Owners: @AliceVisek, @nijel

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Azerbaijani)
  weblate/locale/az/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Update weblate/templates/snippets/autoform.html
  weblate/templates/snippets/autoform.html
Owners: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Azerbaijani)
  weblate/locale/az/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
