Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

improve ghost translation tests
  weblate/trans/tests/test_dashboard.py
  weblate/trans/tests/test_views.py
Owners: @nijel

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

fix(ui): update help dropdown in bootstrap 5 template
  weblate/templates/base5.html
Owners: none

fix(ui): dark mode fixes
  weblate/static/style-dark.css
Owners: @KarenKonou

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Uyghur)
  weblate/locale/ug/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Uyghur)
  weblate/locale/ug/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Uyghur)
  weblate/locale/ug/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Uyghur)
  weblate/locale/ug/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

docs: change ogp_custom_meta_tags to tuple
  docs/conf.py
Owners: @nijel

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Multi-Level Rate Limiting for Notification E-Mails
  weblate/accounts/notifications.py
  weblate/settings_example.py
  weblate/utils/ratelimit.py
Owners: @nijel

fix(ci): ignore only exit code 1 from mypy
  .github/workflows/mypy.yml
Owners: none

Add REDIS_USER env variable
  docs/admin/install/docker.rst
  weblate/settings_docker.py
Owners: @AliceVisek, @orangesunny, @nijel

fix(audit): avoid confusing audit log for activation mails
  weblate/accounts/models.py
Owners: @nijel

fix(audit): avoid confusing audit log for activation mails
  weblate/accounts/models.py
Owners: @nijel

chore: log task in from celery
  weblate/utils/celery.py
Owners: @nijel
