Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

implement Memory context support for TMX file
  docs/changes.rst
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/trans/tests/data/memory.tmx
Owners: @AliceVisek, @nijel

fix(ui): drop themeing for REST framework browsable API
  weblate/templates/rest_framework/api.html
Owners: none

Apply suggestion from @Copilot
  weblate/memory/tests.py
Owners: @nijel

Apply suggestion from @nijel
  weblate/memory/tests.py
Owners: @nijel

fix(ui): drop themeing for REST framework browsable API
  weblate/templates/rest_framework/api.html
Owners: none

feat(memory): Implement context in Translation Memory for TMX file (#17167)
  docs/changes.rst
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/trans/tests/data/memory.tmx
Owners: @AliceVisek, @nijel

fix(ui): fix btn-outline styling on hover
  weblate/static/styles/variables.css
Owners: @KarenKonou

fix(ui): fix btn-outline styling on hover
  weblate/static/styles/variables.css
Owners: @KarenKonou

feat(formats): add support for new translate-toolkit formats
  docs/changes.rst
  docs/formats/json.rst
  docs/formats/nextcloud-json.rst
  docs/formats/resjson.rst
  docs/formats/toml.rst
  docs/formats/xliff.rst
  docs/formats/xliff2.rst
  docs/specs/openapi.yaml
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/checks/flags.py
  weblate/formats/models.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/tests/data/cs.goi18n.toml
  weblate/trans/tests/data/cs.nextjson
  weblate/trans/tests/data/cs.resjson
  weblate/trans/tests/data/cs.toml
  weblate/trans/tests/data/cs.xliff2
  weblate/utils/requirements.py
Owners: @AliceVisek, @nijel

feat(formats): add support for new translate-toolkit formats (#17154)
  docs/changes.rst
  docs/formats/json.rst
  docs/formats/nextcloud-json.rst
  docs/formats/resjson.rst
  docs/formats/toml.rst
  docs/formats/xliff.rst
  docs/formats/xliff2.rst
  docs/specs/openapi.yaml
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/checks/flags.py
  weblate/formats/models.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/tests/data/cs.goi18n.toml
  weblate/trans/tests/data/cs.nextjson
  weblate/trans/tests/data/cs.resjson
  weblate/trans/tests/data/cs.toml
  weblate/trans/tests/data/cs.xliff2
  weblate/utils/requirements.py
Owners: @AliceVisek, @nijel

Fix some issues related to the server update.
  scripts/backup/manage_statistics.md
  scripts/backup/recalculate_stats.py
Owners: @nijel

Address some issues with automatic machine translation during batch creation of components/translations.
  scripts/auto/project-configs/setup_project_boost_json.json
  scripts/auto/project-configs/setup_project_boost_unordered.json
  scripts/backup/restore_to_local.sh
  weblate/trans/models/component.py
  weblate/trans/tasks.py
Owners: @nijel

fix(git): relax lock check
  weblate/vcs/git.py
Owners: @nijel

docs: add hint for disabling e-mail authentication
  docs/admin/install/docker.rst
Owners: @AliceVisek

fix(git): relax lock check
  weblate/vcs/git.py
Owners: @nijel

Initial draft of api documentation
  docs/api.rst
Owners: @AliceVisek

Address one issue with automatic machine translation during batch creation of components/translations.
  weblate/trans/models/component.py
Owners: @nijel

fix(component): tighter validation while adding new language
  weblate/trans/models/component.py
Owners: @nijel

fix(ui): update image classes from 'img-responsive' to 'img-fluid' to fix responsiveness
  weblate/checks/render.py
  weblate/checks/tests/test_models.py
  weblate/static/styles/main.css
  weblate/templates/base.html
  weblate/templates/screenshots/screenshot_detail.html
  weblate/templates/screenshots/screenshot_show.html
Owners: @nijel, @KarenKonou

fix(ui): update image classes from 'img-responsive' to 'img-fluid' (#17183)
  weblate/checks/render.py
  weblate/checks/tests/test_models.py
  weblate/static/styles/main.css
  weblate/templates/base.html
  weblate/templates/screenshots/screenshot_detail.html
  weblate/templates/screenshots/screenshot_show.html
Owners: @nijel, @KarenKonou

fix(ui): update layout and styling for account-related templates
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/accounts/2fa.html
  weblate/templates/accounts/login.html
  weblate/templates/accounts/register.html
  weblate/templates/accounts/reset.html
  weblate/templates/accounts/snippets/login-title.html
  weblate/templates/accounts/totp.html
  weblate/templates/data.html
  weblate/templates/manage/index.html
Owners: @KarenKonou

chore: improve mypy configuration
  pyproject.toml
Owners: none

feat(add-ons): integrate Fedora Messaging
  docs/admin/addons.rst
  docs/admin/optionals.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/addons/base.py
  weblate/addons/fedora_messaging.py
  weblate/addons/forms.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/utils/validators.py
Owners: @AliceVisek, @nijel

fix(ui): update layout and styling for account-related templates (#17186)
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/accounts/2fa.html
  weblate/templates/accounts/login.html
  weblate/templates/accounts/register.html
  weblate/templates/accounts/reset.html
  weblate/templates/accounts/snippets/login-title.html
  weblate/templates/accounts/totp.html
  weblate/templates/data.html
  weblate/templates/manage/index.html
Owners: @KarenKonou

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
