Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

fix(stats): avoid duplicate listing of components inside project-language
  weblate/utils/stats.py
Owners: @nijel

docs: split long sentence to make it easier to translate
  docs/admin/install/docker.rst
Owners: @AliceVisek, @orangesunny

feat: improve footer links
  weblate/templates/base.html
  weblate/templates/footer.html
  weblate/trans/tests/test_selenium.py
Owners: @nijel

fix(stats): avoid duplicate listing of components inside project-language
  weblate/utils/stats.py
Owners: @nijel

feat: improve footer links
  weblate/templates/base.html
  weblate/templates/footer.html
  weblate/trans/tests/test_selenium.py
Owners: @nijel

feat: include more info on project metrics
  weblate/metrics/wrapper.py
  weblate/templates/snippets/info.html
Owners: @nijel

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian (Latin script))
  docs/locales/be_Latn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Catalan)
  docs/locales/ca/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Welsh)
  docs/locales/cy/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Danish)
  docs/locales/da/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none
