Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Owners: none

Fix duplicate CLA text
  weblate/templates/contributor-agreement.html
Owners: none

feat(ui): bootstrap 5 styling tweaks
  weblate/middleware.py
  weblate/static/style-dark.css
  weblate/static/styles/variables.css
  weblate/templates/base5.html
  weblate/templates/snippets/meta-css.html
Owners: @nijel, @KarenKonou

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

use file format params to load bilingual update args
  weblate/addons/gettext.py
  weblate/addons/tests.py
  weblate/formats/base.py
  weblate/trans/format_params.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

fix(login): do not show login form when not configured
  weblate/accounts/views.py
  weblate/templates/accounts/login.html
Owners: @nijel

feat(auth): add nice name and logo for Fedora OIDC
  weblate/accounts/templatetags/authnames.py
Owners: @nijel

feat(translation): bulk create source strings while parsing
  weblate/trans/management/commands/import_demo.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
Owners: @nijel

fix(login): do not show login form when not configured
  weblate/accounts/views.py
  weblate/templates/accounts/login.html
Owners: @nijel

docs: clarify description of enforced checks
  docs/admin/checks.rst
  docs/admin/projects.rst
  weblate/trans/migrations/0001_squashed_weblate_5.py
  weblate/trans/models/component.py
Owners: @AliceVisek, @orangesunny, @nijel

fix: consolidate position of watch menu
  weblate/templates/category.html
  weblate/templates/component.html
  weblate/templates/translation.html
Owners: none

feat: introduce project level commit quality policy (#15366)
  docs/admin/projects.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/trans/forms.py
  weblate/trans/migrations/0042_project_commit_policy.py
  weblate/trans/migrations/0043_alter_pendingunitchange_state.py
  weblate/trans/models/__init__.py
  weblate/trans/models/pending.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_models.py
  weblate/trans/tests/test_settings.py
Owners: @AliceVisek, @orangesunny, @nijel

fix(migrations): merge migrations
  weblate/trans/migrations/0044_merge_20250721_1211.py
Owners: @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
