Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

fix(api): avoid listing duplicate groups
  weblate/api/tests.py
  weblate/api/views.py
Owners: @nijel

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Uyghur)
  weblate/locale/ug/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Uyghur)
  docs/locales/ug/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Filipino)
  weblate/locale/fil/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Filipino)
  weblate/locale/fil/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Filipino)
  docs/locales/fil/LC_MESSAGES/docs.po
Owners: none

fix(forms): consolidate new language forms
  weblate/api/views.py
  weblate/auth/permissions.py
  weblate/lang/models.py
  weblate/templates/new-project-language.html
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_views.py
  weblate/trans/views/basic.py
Owners: @nijel

Translated using Weblate (Uyghur)
  docs/locales/ug/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Filipino)
  weblate/locale/fil/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Uyghur)
  weblate/locale/ug/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Filipino)
  weblate/locale/fil/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Filipino)
  docs/locales/fil/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

🩹 — Use startswith() for comparing deepl URLs
  weblate/machinery/deepl.py
Owners: @nijel

fix: Use startswith() for comparing deepl URLs (#15458)
  weblate/machinery/deepl.py
Owners: @nijel

chore: Sync with WeblateOrg/meta
  .github/workflows/dependency-review.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .github/workflows/scorecards.yml
  .pre-commit-config.yaml
Owners: none

chore: Sync with WeblateOrg/meta
  .pre-commit-config.yaml
Owners: none

chore: apply shell formatting
  ci/apt-install
  ci/lib.sh
  ci/pip-install
  ci/prepare-database
  ci/run-checkmigrate
  ci/run-docs
  ci/run-migrate
  ci/services-down
  ci/services-up
  dev-docker/weblate-dev/start-dev
  rundev.sh
  scripts/create-release
  scripts/optimize-svg
  scripts/pack-test-data
  scripts/prepare-release
  scripts/reuse-annotate
  scripts/update-graphics
  scripts/update-locales
  weblate/examples/celery
  weblate/examples/git-merge-gettext-po
  weblate/trans/tests/data/lab
Owners: none

Update the dependecy weblate-schemas to v2025.5
  pyproject.toml
Owners: none

Updated openapi specs and schema files
  docs/specs/openapi.yaml
  docs/specs/schemas/weblate-memory.schema.json
  docs/specs/schemas/weblate-messaging.schema.json
Owners: none

use file_formar_params to setup serialization
  weblate/formats/ttkit.py
  weblate/trans/format_params.py
  weblate/trans/forms.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel

Update the dependecy weblate-schemas to v2025.5 (#15459)
  docs/specs/openapi.yaml
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  docs/specs/schemas/weblate-memory.schema.json
  docs/specs/schemas/weblate-messaging.schema.json
  pyproject.toml
  uv.lock
Owners: none

bugfix(commit groups): avoid unnecessary group breaking
  weblate/trans/models/translation.py
  weblate/trans/tests/test_models.py
Owners: @nijel

address changes from code review
  weblate/trans/migrations/0043_alter_pendingunitchange_state.py
  weblate/trans/models/pending.py
Owners: @nijel

bugfix(commit groups): avoid unnecessary group breaking
  weblate/trans/models/translation.py
  weblate/trans/tests/test_models.py
Owners: @nijel

feat: improve avatar icons for built-in accounts
  REUSE.toml
  docs/changes.rst
  weblate/accounts/avatar.py
  weblate/accounts/tests/test_avatars.py
  weblate/accounts/views.py
  weblate/static/api-128.png
  weblate/static/api-24.png
  weblate/static/api-32.png
  weblate/static/api-80.png
Owners: @AliceVisek, @orangesunny, @nijel

fix(forms): consolidate new language forms
  weblate/api/views.py
  weblate/auth/permissions.py
  weblate/lang/models.py
  weblate/templates/new-project-language.html
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_views.py
  weblate/trans/views/basic.py
Owners: @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
