Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Marathi)
  docs/locales/mr/LC_MESSAGES/docs.po
Owners: none

fix: improve plain links detection in markdown
  weblate/utils/markdown.py
  weblate/utils/tests/test_markdown.py
Owners: @nijel

fix: improve plain links detection in markdown
  weblate/utils/markdown.py
  weblate/utils/tests/test_markdown.py
Owners: @nijel

Revert changes to the repository endpoint
  docs/api.rst
  weblate/api/tests.py
  weblate/api/views.py
Owners: @AliceVisek, @orangesunny, @nijel

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

fix: import annotations only if needed
  weblate/trans/file_format_params.py
Owners: @nijel

Update weblate/api/tests.py
  weblate/api/tests.py
Owners: @nijel

fix: corrected listing of projects in teams
  weblate/accounts/views.py
  weblate/auth/models.py
  weblate/templates/auth/teams-projects.html
Owners: @nijel

fix: corrected listing of projects in teams
  weblate/accounts/views.py
  weblate/auth/models.py
  weblate/templates/auth/teams-projects.html
Owners: @nijel

Apply suggestions from code review
  weblate/api/tests.py
Owners: @nijel

chore: followup fixes for #15416
  docs/admin/addons.rst
  weblate/trans/file_format_params.py
Owners: @AliceVisek, @orangesunny, @nijel

docs: add link to memory status
  docs/admin/projects.rst
Owners: @AliceVisek, @orangesunny

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
