Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

minor test fixes
  ci/run-migrate
  weblate/addons/tests.py
Owners: @nijel

chore: improve error message for incompatible backups restore
  weblate/trans/forms.py
Owners: @nijel

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Viossa)
  docs/locales/qpv/LC_MESSAGES/docs.po
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Viossa)
  docs/locales/qpv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

fix: correctly merge coverage with pytest
  .github/workflows/test.yml
Owners: none

feat(ci): use github annotations for tests
  pyproject.toml
  uv.lock
Owners: none

feat(ci): use github annotations for tests
  pyproject.toml
  uv.lock
Owners: none

remove unused forms
  weblate/addons/forms.py
  weblate/addons/gettext.py
  weblate/formats/base.py
  weblate/static/loader-bootstrap.js
  weblate/trans/format_params.py
  weblate/trans/forms.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel, @KarenKonou

fix: correctly merge coverage with pytest
  .github/workflows/test.yml
Owners: none

chore: document needs_commit_upstream
  weblate/trans/models/component.py
Owners: @nijel

fix(ui): show correct tab on bootstrap 5
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

fix(docker): correctly set oidc title and image
  weblate/settings_docker.py
Owners: @nijel

doc: document gettext wrapping and add-ons
  docs/formats/gettext.rst
Owners: @AliceVisek, @orangesunny

fix(docker): correctly set oidc title and image
  weblate/settings_docker.py
Owners: @nijel

feat: Adding new TOTP authentication will now remove previous ones by default (#15533)
  docs/changes.rst
  weblate/accounts/forms.py
  weblate/accounts/tests/test_twofactor.py
  weblate/accounts/views.py
Owners: @AliceVisek, @orangesunny, @nijel

doc: document gettext wrapping and add-ons
  docs/formats/gettext.rst
Owners: @AliceVisek, @orangesunny

fix(api): improved permission denied handling
  docs/changes.rst
  weblate/api/serializers.py
  weblate/api/views.py
  weblate/auth/models.py
  weblate/auth/permissions.py
  weblate/auth/results.py
  weblate/trans/models/unit.py
  weblate/trans/util.py
Owners: @AliceVisek, @orangesunny, @nijel

feat(translation): bulk create source strings while parsing
  weblate/trans/management/commands/import_demo.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_component.py
Owners: @nijel

chore(tests): convert assertRaises uses to contexts
  weblate/trans/tests/test_component.py
Owners: @nijel

fix(api): improved permission denied handling
  docs/changes.rst
  weblate/api/serializers.py
  weblate/api/views.py
  weblate/auth/models.py
  weblate/auth/permissions.py
  weblate/auth/results.py
  weblate/trans/models/unit.py
  weblate/trans/util.py
Owners: @AliceVisek, @orangesunny, @nijel

chore: add type annotations to permission checks
  weblate/auth/permissions.py
  weblate/memory/views.py
Owners: @nijel

feat(translation): bulk create source strings while parsing
  weblate/trans/management/commands/import_demo.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_component.py
Owners: @nijel

chore(tests): convert assertRaises uses to contexts
  weblate/trans/tests/test_component.py
Owners: @nijel

chore: add type annotations to permission checks
  weblate/auth/permissions.py
  weblate/memory/views.py
Owners: @nijel

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none
