Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

fix(js): compatibility with biome 2.2.0
  biome.json
  weblate/static/editor/base.js
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

fix(bulk-edit): filter out strings at the database level
  weblate/trans/bulk.py
  weblate/trans/models/component.py
Owners: @nijel

fix(js): compatibility with biome 2.2.0
  biome.json
  weblate/static/editor/base.js
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

fix(api): reduce users api visibility
  weblate/api/tests.py
  weblate/api/views.py
Owners: @nijel

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

chore: releasing 5.13
  docs/changes.rst
  docs/changes/contributors/5.13.rst
  weblate/utils/version.py
Owners: @AliceVisek, @orangesunny, @nijel

chore(ci): add test for migrating from 5.13
  .github/workflows/migrations.yml
Owners: none

chore: setting version to 5.13.1
  client/package.json
  docs/changes.rst
  docs/changes/contributors/5.13.1.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/utils/version.py
Owners: @KarenKonou, @AliceVisek, @orangesunny, @nijel

chore(js): update vendored libraries
  docs/specs/sbom/partial/javascript.json
  docs/specs/sbom/sbom.json
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Owners: none

WIP: feat(ui): migrate core components to bootstrap 5
  weblate/accounts/views.py
  weblate/checks/views.py
  weblate/lang/views.py
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/accounts/user.html
  weblate/templates/base5.html
  weblate/templates/check_list.html
  weblate/templates/component.html
  weblate/templates/dashboard/user.html
  weblate/templates/language.html
  weblate/templates/languages.html
  weblate/templates/project.html
  weblate/templates/projects.html
  weblate/templates/snippets/activity.html
  weblate/templates/snippets/info5.html
  weblate/templates/snippets/search-form.html
  weblate/templates/snippets/translation.html
  weblate/templates/snippets/watch-dropdown5.html
  weblate/templates/translation.html
  weblate/trans/forms.py
  weblate/trans/templatetags/translations.py
  weblate/trans/views/basic.py
Owners: @nijel, @KarenKonou

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

chore(pending change): make retries smarter
  weblate/trans/migrations/0047_pendingunitchange_metadata.py
  weblate/trans/models/pending.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_models.py
Owners: @nijel

Exclude terms from Glossary display where target equals source and state is fuzzy
  weblate/glossary/models.py
Owners: @nijel

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
