Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

fix(ui): unmigrated templates fixes
  weblate/legal/templates/legal/confirm.html
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/templates/mail/style.css
  weblate/templates/manage/backups.html
Owners: @KarenKonou

fix: accessibility
  weblate/templates/manage/backups.html
Owners: none

Checks: Add MultipleCapitalCheck for issue #8753
  weblate/checks/chars.py
  weblate/checks/tests/test_chars_checks.py
Owners: @nijel

fix(alerts): remove UnusedComponent immediatelly upon change
  weblate/trans/models/translation.py
Owners: @nijel

fix(alerts): remove UnusedComponent immediatelly upon change
  weblate/trans/models/translation.py
Owners: @nijel

fix(ui): fix user search rendering
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/templates/paginator.html
  weblate/templates/snippets/position-field.html
  weblate/templates/snippets/user-query-field.html
Owners: @KarenKonou

fix(ui): better class for machinery button styling
  weblate/static/editor/full.js
Owners: @KarenKonou

fix(ui): fix user search rendering
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/templates/paginator.html
  weblate/templates/snippets/position-field.html
  weblate/templates/snippets/user-query-field.html
Owners: @KarenKonou

fix(ui): better class for machinery button styling
  weblate/static/editor/full.js
Owners: @KarenKonou

fix(billing): migrate users access to billing upon project removal
  weblate/auth/models.py
  weblate/billing/models.py
  weblate/billing/tests.py
Owners: @nijel

Apply suggestion from @nijel
  weblate/templates/manage/backups.html
Owners: none

Add outgoing commits and pending units to test
  weblate/api/tests.py
Owners: @nijel

Make sure the units are different
  weblate/api/tests.py
Owners: @nijel

Update weblate/api/serializers.py
  weblate/api/serializers.py
Owners: @nijel

Update weblate/api/views.py
  weblate/api/views.py
Owners: @nijel

fix(billing): migrate users access to billing upon project removal
  weblate/auth/models.py
  weblate/billing/models.py
  weblate/billing/tests.py
Owners: @nijel

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

fix(ui): unmigrated templates fixes (#17261)
  weblate/legal/templates/legal/confirm.html
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/templates/mail/style.css
  weblate/templates/manage/backups.html
Owners: @KarenKonou

fix tests
  weblate/api/tests.py
Owners: @nijel

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
