Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

feat: use clone to fetch remote repositories
  docs/changes.rst
  weblate/trans/models/component.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Owners: @AliceVisek, @nijel

feat: use clone to fetch remote repositories
  docs/changes.rst
  weblate/trans/models/component.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Owners: @AliceVisek, @nijel

chore: avoid naming used variables with underscore
  weblate/machinery/tests.py
Owners: @nijel

Changelog entry
  docs/changes.rst
Owners: @AliceVisek

chore: avoid naming used variables with underscore
  weblate/machinery/tests.py
Owners: @nijel

merge migrations
  weblate/trans/migrations/0054_merge_20251129_1406.py
Owners: @nijel

feat(unit): replace auto-translated label with dedicated boolean field (#17037)
  docs/changes.rst
  docs/specs/openapi.yaml
  docs/user/search.rst
  weblate/addons/autotranslate.py
  weblate/api/serializers.py
  weblate/static/editor/full.js
  weblate/templates/snippets/query-builder.html
  weblate/templates/translate.html
  weblate/trans/bulk.py
  weblate/trans/migrations/0001_squashed_weblate_5.py
  weblate/trans/migrations/0052_unit_automatically_translated_alter_unit_labels.py
  weblate/trans/migrations/0053_migrate_automatically_translated_label_to_unit_field.py
  weblate/trans/migrations/0054_merge_20251129_1406.py
  weblate/trans/models/label.py
  weblate/trans/models/project.py
  weblate/trans/models/unit.py
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/tests/test_edit.py
  weblate/trans/tests/test_search.py
  weblate/trans/views/js.py
  weblate/urls.py
  weblate/utils/search.py
  weblate/utils/stats.py
  weblate/utils/tests/test_search.py
Owners: @AliceVisek, @nijel, @KarenKonou

feat(screenshot): add change events for screenshot unit assignment and removal
  weblate/addons/autotranslate.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/screenshots/models.py
  weblate/screenshots/tests.py
  weblate/screenshots/views.py
  weblate/trans/actions.py
  weblate/trans/tests/test_backups.py
Owners: @nijel

add missing migration
  weblate/trans/migrations/0052_alter_change_action.py
Owners: @nijel

update migration
  weblate/trans/migrations/0055_alter_change_action.py
Owners: @nijel

test: Added some Ollama translation machine tests for local and remote models
  weblate/machinery/tests.py
Owners: @nijel

docs: Added basic documentation for the Ollama machinery integration
  docs/admin/machine.rst
Owners: @AliceVisek

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

feat(screenshot): add change events for screenshot unit assignment and removal (#17067)
  docs/specs/openapi.yaml
  weblate/addons/autotranslate.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/screenshots/models.py
  weblate/screenshots/tests.py
  weblate/screenshots/views.py
  weblate/trans/actions.py
  weblate/trans/migrations/0055_alter_change_action.py
  weblate/trans/tests/test_backups.py
Owners: @nijel

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

fix(migration): remove no longer needed migration
  weblate/trans/migrations/0052_unit_automatically_translated_alter_unit_labels.py
Owners: @nijel

add help text for note field in UserBlockForm
  weblate/trans/forms.py
Owners: @nijel

feat(label): add change events for label assignment and removal
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/actions.py
  weblate/trans/bulk.py
  weblate/trans/forms.py
  weblate/trans/migrations/0056_alter_change_action.py
  weblate/trans/models/comment.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_labels.py
Owners: @nijel

fix(checks): use same prefix for filtering
  weblate/checks/source.py
Owners: @nijel

fix(migration): remove no longer needed migration
  weblate/trans/migrations/0052_unit_automatically_translated_alter_unit_labels.py
Owners: @nijel

fix(checks): use same prefix for filtering
  weblate/checks/source.py
Owners: @nijel

fix(vcs): sanitize mercurial error messages
  weblate/vcs/base.py
  weblate/vcs/mercurial.py
Owners: @nijel

feat: restrict user full name
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Owners: @nijel

fix(auth): add homoglyph validation
  docs/changes.rst
  pyproject.toml
  uv.lock
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Owners: @AliceVisek, @nijel

feat(vcs): extended filtering of allowed VCS URLs
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/settings_docker.py
  weblate/settings_test.py
  weblate/trans/migrations/0056_alter_component_push_alter_component_repo.py
  weblate/trans/models/component.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
  weblate/vcs/git.py
  weblate/vcs/models.py
Owners: @AliceVisek, @nijel

feat: restrict user full name
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Owners: @nijel

feat(api): indicate pending changes in repository API endpoint
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/tests/test_remote.py
Owners: @nijel

feat(label): add change events for label assignment and removal
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/actions.py
  weblate/trans/bulk.py
  weblate/trans/forms.py
  weblate/trans/migrations/0056_alter_change_action.py
  weblate/trans/models/comment.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_labels.py
Owners: @nijel

fix context form bug
  weblate/trans/forms.py
Owners: @nijel

Update docs/api.rst and changes.rst
  docs/api.rst
  docs/changes.rst
Owners: @AliceVisek

Add support to get comments on a unit
  weblate/api/views.py
Owners: @nijel

Add test to list comments
  weblate/api/tests.py
Owners: @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
