Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @meel-hd, @nijel

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

fix(utils): use strxfrm only if it works
  weblate/trans/tests/test_sort.py
  weblate/trans/util.py
Owners: @nijel

chore: Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/api.yml
  .github/workflows/closing.yml
  .github/workflows/docs.yml
  .github/workflows/fossa.yml
  .github/workflows/labels.yml
  .github/workflows/licenses-update.yml
  .github/workflows/linkcheck.yml
  .github/workflows/macos.yml
  .github/workflows/migrations.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .github/workflows/pylint.yml
  .github/workflows/rundev.yml
  .github/workflows/schema-update.yml
  .github/workflows/scorecards.yml
  .github/workflows/semgrep.yml
  .github/workflows/setup.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/uv-upgrade.yml
  .github/workflows/yarn-update.yml
Owners: none

feat(ci): build docs using multiple threads
  ci/run-docs
  docs/_ext/djangodocs.py
Owners: @nijel

chore: Sync with WeblateOrg/meta
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/mypy.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
Owners: none

chore: Sync with WeblateOrg/meta
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/mypy.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
Owners: none

fix(utils): use strxfrm only if it works
  weblate/trans/tests/test_sort.py
  weblate/trans/util.py
Owners: @nijel

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

feat(vcs): enable proactive git authentication
  ci/apt-install
  weblate/vcs/git.py
Owners: @nijel

feat(tests): show page source if element cannot be found
  weblate/trans/tests/test_selenium.py
Owners: @nijel

fix: avoid ouputting None as css class
  weblate/trans/templatetags/translations.py
Owners: @nijel

docs: document proactive authentication
  docs/changes.rst
  docs/vcs.rst
Owners: @AliceVisek

feat(tests): show page source if element cannot be found
  weblate/trans/tests/test_selenium.py
Owners: @nijel

Fix history events overlap
  weblate/static/styles/main.css
Owners: @meel-hd

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic (Libya))
  docs/locales/ar_LY/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Asturian)
  docs/locales/ast/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Azerbaijani)
  docs/locales/az/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian (Latin script))
  docs/locales/be_Latn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bengali)
  docs/locales/bn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bengali (Bangladesh))
  docs/locales/bn_BD/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Catalan)
  docs/locales/ca/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chechen)
  docs/locales/ce/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Kurdish (Central))
  docs/locales/ckb/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Crimean Tatar)
  docs/locales/crh/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chuvash)
  docs/locales/cv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Welsh)
  docs/locales/cy/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Danish)
  docs/locales/da/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Esperanto)
  docs/locales/eo/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @meel-hd
*.js @meel-hd
*.css @meel-hd
*.py @nijel
