Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (English (United Kingdom))
  weblate/locale/en_GB/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  weblate/locale/en_GB/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Add Modern MT support for sr_Latn language code
  weblate/machinery/modernmt.py
Owners: @nijel

fix(ui): fix copy to clipboard button when deleting project/component
  weblate/static/loader-bootstrap.js
  weblate/templates/trans/delete-component.html
Owners: @KarenKonou

fix(ui): fix copy to clipboard button when deleting project/component
  weblate/static/loader-bootstrap.js
  weblate/templates/trans/delete-component.html
Owners: @KarenKonou

feat(machinery): update ModernMT API usage
  docs/changes.rst
  weblate/machinery/base.py
  weblate/machinery/modernmt.py
  weblate/machinery/tests.py
  weblate/machinery/views.py
Owners: @AliceVisek, @nijel

Apply copilot's suggestions
  docs/admin/access.rst
  weblate/trans/autotranslate.py
  weblate/trans/tests/test_autotranslate.py
Owners: @AliceVisek, @nijel

feat(machinery): update ModernMT API usage
  docs/changes.rst
  weblate/machinery/base.py
  weblate/machinery/modernmt.py
  weblate/machinery/tests.py
  weblate/machinery/views.py
Owners: @AliceVisek, @nijel

fix AttributeError
  weblate/trans/autotranslate.py
Owners: @nijel

feat(ui): remove suggest icon
  weblate/static/icons/suggest.svg
  weblate/templates/translate.html
Owners: none

feat: Automatic translation for Component / Project / Category / ProjectLanguage (#16737)
  docs/changes.rst
  docs/user/translating.rst
  weblate/addons/autotranslate.py
  weblate/checks/tests/test_models.py
  weblate/glossary/tasks.py
  weblate/templates/category.html
  weblate/templates/component.html
  weblate/templates/language-project.html
  weblate/templates/snippets/autoform.html
  weblate/templates/translation.html
  weblate/trans/autotranslate.py
  weblate/trans/models/translation.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/views/basic.py
  weblate/trans/views/edit.py
Owners: @AliceVisek, @nijel

Add back icon svg
  weblate/static/icons/suggest.svg
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none
