Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Welsh)
  weblate/locale/cy/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

update documentation
  docs/admin/addons.rst
  docs/admin/management.rst
  docs/changes.rst
  docs/formats.rst
  docs/formats/gettext.rst
  docs/formats/json.rst
  docs/formats/yaml.rst
  weblate/trans/format_params.py
  weblate/trans/management/commands/list_file_format_params.py
Owners: @AliceVisek, @orangesunny, @nijel

docs: improve add-ons parameters formatting
  .pre-commit-config.yaml
  docs/admin/addons.rst
  weblate/addons/management/commands/list_addons.py
Owners: @AliceVisek, @orangesunny, @nijel

docs: improve add-ons parameters formatting
  .pre-commit-config.yaml
  docs/admin/addons.rst
  weblate/addons/management/commands/list_addons.py
Owners: @AliceVisek, @orangesunny, @nijel

feat: use headers in the support menu
  weblate/templates/base.html
Owners: none

feat(ci): format all Django templates
  .pre-commit-config.yaml
  pyproject.toml
  weblate/templates/mail/account_activity_subject.txt
  weblate/templates/mail/activation_subject.txt
  weblate/templates/mail/approved_string_subject.txt
  weblate/templates/mail/billing_expired_subject.txt
  weblate/templates/mail/changed_translation_subject.txt
  weblate/templates/mail/component_license_subject.txt
  weblate/templates/mail/component_lock_subject.txt
  weblate/templates/mail/digest_subject.txt
  weblate/templates/mail/invite_subject.txt
  weblate/templates/mail/new_alert_subject.txt
  weblate/templates/mail/new_announcement_subject.txt
  weblate/templates/mail/new_comment_subject.txt
  weblate/templates/mail/new_component_subject.txt
  weblate/templates/mail/new_contributor_subject.txt
  weblate/templates/mail/new_language_subject.txt
  weblate/templates/mail/new_string_subject.txt
  weblate/templates/mail/new_suggestion_subject.txt
  weblate/templates/mail/parse_error_subject.txt
  weblate/templates/mail/pending_suggestions_subject.txt
  weblate/templates/mail/remove_subject.txt
  weblate/templates/mail/repository_error_subject.txt
  weblate/templates/mail/repository_operation_subject.txt
  weblate/templates/mail/reset_subject.txt
  weblate/templates/mail/todo_strings_subject.txt
  weblate/templates/mail/translated_component_subject.txt
  weblate/templates/mail/translated_language_subject.txt
  weblate/templates/memory/dump.tmx
Owners: none

chore(ci): remove no longer needed permission
  .github/workflows/test.yml
Owners: none

feat: use headers in the support menu
  weblate/templates/base.html
Owners: none

Footer: Add css classes
  weblate/templates/footer.html
Owners: none

fix(machinery): disable rephrashing in OpenAI for missing plurals
  weblate/machinery/openai.py
Owners: @nijel

Support-Menu: Add CSS classes
  weblate/templates/base.html
Owners: none

feat(ci): format all Django templates
  .pre-commit-config.yaml
  pyproject.toml
  weblate/templates/mail/account_activity_subject.txt
  weblate/templates/mail/activation_subject.txt
  weblate/templates/mail/approved_string_subject.txt
  weblate/templates/mail/billing_expired_subject.txt
  weblate/templates/mail/changed_translation_subject.txt
  weblate/templates/mail/component_license_subject.txt
  weblate/templates/mail/component_lock_subject.txt
  weblate/templates/mail/digest_subject.txt
  weblate/templates/mail/invite_subject.txt
  weblate/templates/mail/new_alert_subject.txt
  weblate/templates/mail/new_announcement_subject.txt
  weblate/templates/mail/new_comment_subject.txt
  weblate/templates/mail/new_component_subject.txt
  weblate/templates/mail/new_contributor_subject.txt
  weblate/templates/mail/new_language_subject.txt
  weblate/templates/mail/new_string_subject.txt
  weblate/templates/mail/new_suggestion_subject.txt
  weblate/templates/mail/parse_error_subject.txt
  weblate/templates/mail/pending_suggestions_subject.txt
  weblate/templates/mail/remove_subject.txt
  weblate/templates/mail/repository_error_subject.txt
  weblate/templates/mail/repository_operation_subject.txt
  weblate/templates/mail/reset_subject.txt
  weblate/templates/mail/todo_strings_subject.txt
  weblate/templates/mail/translated_component_subject.txt
  weblate/templates/mail/translated_language_subject.txt
  weblate/templates/memory/dump.tmx
Owners: none

fix(machinery): disable rephrashing in OpenAI for missing plurals
  weblate/machinery/openai.py
Owners: @nijel

feat(manage): improve support status handling
  weblate/templates/manage/index.html
  weblate/templates/manage/snippets/activation-form.html
  weblate/wladmin/migrations/0004_supportstatus_enabled.py
  weblate/wladmin/models.py
  weblate/wladmin/tasks.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Owners: @nijel

feat(manage): improve support status handling
  weblate/templates/manage/index.html
  weblate/templates/manage/snippets/activation-form.html
  weblate/wladmin/migrations/0004_supportstatus_enabled.py
  weblate/wladmin/models.py
  weblate/wladmin/tasks.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Owners: @nijel

fix: hide donate link for paying users
  weblate/templates/footer.html
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Asturian)
  docs/locales/ast/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic (Libya))
  docs/locales/ar_LY/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Azerbaijani)
  docs/locales/az/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian (Latin script))
  docs/locales/be_Latn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bengali)
  docs/locales/bn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bengali (Bangladesh))
  docs/locales/bn_BD/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Catalan)
  docs/locales/ca/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
