Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @meel-hd, @nijel

fix(api): viewset without associated serializer
  weblate/api/views.py
Owners: @nijel

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
Owners: @meel-hd

chore(deps): update lockfile
  uv.lock
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
Owners: @meel-hd

chore(deps): update lockfile
  uv.lock
Owners: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

validate payload against use Weblate Messaging schema
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/addons/webhooks.py
  weblate/trans/models/change.py
  weblate/trans/tests/test_models.py
  weblate/utils/validators.py
Owners: @nijel

fix(api): cannot derive param of componentviewset
  weblate/api/views.py
Owners: @nijel

fix(api): non-existent method in viewset
  weblate/api/spectacular.py
  weblate/api/views.py
Owners: @nijel

fix(api): cannot derive param of componentlistviewset
  weblate/api/views.py
Owners: @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @meel-hd
*.js @meel-hd
*.css @meel-hd
*.py @nijel
