Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

fix(component): discard disk state on reset
  weblate/api/views.py
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_git_views.py
  weblate/trans/views/git.py
Owners: @nijel

fix(upload): utilize prefetch and batched updates
  docs/changes.rst
  weblate/api/tests.py
  weblate/trans/autotranslate.py
  weblate/trans/bulk.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tasks.py
Owners: @AliceVisek, @nijel

feat: Basic structure for LLM machinery + Initial Ollama machinery tools for local Ollama AI model integration (#16894)
  docs/admin/machine.rst
  docs/changes.rst
  weblate/machinery/forms.py
  weblate/machinery/llm.py
  weblate/machinery/models.py
  weblate/machinery/ollama.py
  weblate/machinery/tests.py
Owners: @AliceVisek, @nijel

chore(machinery): base OpenAI integration on generic LLM
  weblate/machinery/llm.py
  weblate/machinery/openai.py
Owners: @nijel

chore: update machiery docs
  docs/admin/machine.rst
  weblate/machinery/forms.py
Owners: @AliceVisek, @nijel

fix(upload): utilize prefetch and batched updates
  docs/changes.rst
  weblate/api/tests.py
  weblate/trans/autotranslate.py
  weblate/trans/bulk.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tasks.py
Owners: @AliceVisek, @nijel

chore: update machiery docs
  docs/admin/machine.rst
  weblate/machinery/forms.py
Owners: @AliceVisek, @nijel

chore(machinery): base OpenAI integration on generic LLM
  weblate/machinery/llm.py
  weblate/machinery/openai.py
Owners: @nijel

Apply suggested fix to weblate/machinery/forms.py from Copilot Autofix
  weblate/machinery/forms.py
Owners: @nijel

Apply suggested fix to weblate/machinery/forms.py from Copilot Autofix
  weblate/machinery/forms.py
Owners: @nijel

Apply suggested fix to weblate/machinery/forms.py from Copilot Autofix
  weblate/machinery/forms.py
Owners: @nijel

fix(test): avoid overwriting passed machine
  weblate/machinery/tests.py
Owners: @nijel

feat(unit): allow to skip select for update
  weblate/trans/autotranslate.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
Owners: @nijel

fix(component): discard disk state on reset
  weblate/api/views.py
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_git_views.py
  weblate/trans/views/git.py
Owners: @nijel

Apply suggestion from @nijel
  weblate/machinery/forms.py
Owners: @nijel

fix(ui): fix query field responsiveness
  weblate/templates/snippets/query-field.html
Owners: none

fix(test): avoid overwriting passed machine
  weblate/machinery/tests.py
Owners: @nijel

fix(ui): fix query field responsiveness
  weblate/templates/snippets/query-field.html
Owners: none

fix(machinery): remove extra spaces from settings (#17149)
  weblate/machinery/forms.py
Owners: @nijel

Translated using Weblate (Catalan)
  weblate/locale/ca/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Tamil)
  weblate/locale/ta/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none
