Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

feat(format): support starting from scratch with XLIFF
  docs/changes.rst
  weblate/api/tests.py
  weblate/formats/ttkit.py
Owners: @AliceVisek, @orangesunny, @nijel

feat(repo): add link to browse all repository changes
  weblate/templates/js/git-status.html
  weblate/trans/views/js.py
Owners: @nijel

Clarify authentication documentation
  docs/admin/auth.rst
  docs/admin/install/docker.rst
Owners: @AliceVisek, @orangesunny

Fix config type
  docs/conf.py
Owners: @nijel

bugfix: reject backups with duplicate files
  weblate/trans/backups.py
  weblate/trans/tests/data/projectbackup-duplicate-files.zip
  weblate/trans/tests/test_backups.py
Owners: @nijel

implement project level locking
  weblate/api/serializers.py
  weblate/api/views.py
Owners: @nijel

fix mypy errors
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/management/commands/list_file_format_params.py
  weblate/trans/migrations/0045_component_file_format_params.py
Owners: @nijel

Update formats.rst: TBX supports Context
  docs/formats.rst
Owners: @AliceVisek, @orangesunny

more mypy errors fix
  weblate/trans/file_format_params.py
Owners: @nijel

bugfix: reject backups with duplicate files
  weblate/trans/backups.py
  weblate/trans/tests/data/projectbackup-duplicate-files.zip
  weblate/trans/tests/test_backups.py
Owners: @nijel

Make migration elidable
  weblate/addons/migrations/0007_update_autotranslate_filter_type.py
Owners: @nijel

feat(changes): add forced sync and scan operations
  docs/specs/openapi.yaml
  weblate/trans/actions.py
  weblate/trans/migrations/0045_alter_change_action.py
  weblate/trans/models/component.py
Owners: @nijel

chore(formats): directly use pypo implementation for gettext PO
  weblate/formats/convert.py
  weblate/formats/exporters.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
Owners: @nijel

docs: improve enforced checks documentation
  docs/admin/checks.rst
  docs/admin/projects.rst
Owners: @AliceVisek, @orangesunny

docs: update link to the laravel docs
  docs/formats/laravel.rst
Owners: @AliceVisek, @orangesunny

Update formats.rst: TBX supports Context
  docs/formats.rst
Owners: @AliceVisek, @orangesunny

docs: improve enforced checks documentation
  docs/admin/checks.rst
  docs/admin/projects.rst
Owners: @AliceVisek, @orangesunny

feat: use search queries for automatic translation (#15585)
  docs/admin/addons.rst
  weblate/addons/autotranslate.py
  weblate/addons/migrations/0007_update_autotranslate_filter_type.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/checks/tests/test_models.py
  weblate/trans/autotranslate.py
  weblate/trans/forms.py
  weblate/trans/management/commands/auto_translate.py
  weblate/trans/models/unit.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/views/edit.py
Owners: @AliceVisek, @orangesunny, @nijel

chore(formats): directly use pypo implementation for gettext PO
  weblate/formats/convert.py
  weblate/formats/exporters.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
Owners: @nijel

docs: fix typos
  docs/changes.rst
  docs/contributing/tests.rst
Owners: @AliceVisek, @orangesunny

docs: update link to the laravel docs
  docs/formats.rst
Owners: @AliceVisek, @orangesunny

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

feat:(scripts) filter out filenames from docs translation
  scripts/filter-docs-po.py
Owners: @nijel

chore(checks): add test for another variant of error
  weblate/checks/tests/test_markup_checks.py
Owners: @nijel

fix(i18n): corrected typo
  docs/locales/ro/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

wip: feat(ui): migrate dashboard to bootstrap 5
  weblate/static/styles/variables.css
  weblate/templates/dashboard/anonymous.html
  weblate/templates/dashboard/user.html
  weblate/templates/snippets/search-form.html
  weblate/trans/forms.py
  weblate/trans/templatetags/translations.py
  weblate/trans/views/dashboard.py
Owners: @KarenKonou, @nijel

feat: add validation of REGISTRATION_ALLOW_BACKENDS
  weblate/accounts/apps.py
  weblate/accounts/views.py
  weblate/auth/models.py
  weblate/auth/utils.py
  weblate/middleware.py
  weblate/utils/checks.py
  weblate/utils/docs.py
Owners: @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
