Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

feat: add support for Laravel format check (#17084)
  weblate/checks/format.py
  weblate/checks/models.py
  weblate/checks/tests/test_format_checks.py
  weblate/formats/ttkit.py
Owners: @nijel

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
