Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

fix(auth): sync project teams when review configuration changes
  weblate/auth/models.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_models.py
  weblate/utils/stats.py
Owners: @nijel

docs: document data residency for Weblate services
  docs/index.rst
  docs/security/data-residency.rst
  docs/security/index.rst
Owners: @AliceVisek

Update docs/security/data-residency.rst
  docs/security/data-residency.rst
Owners: @AliceVisek

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

docs: document data residency for Weblate services (#16713)
  docs/index.rst
  docs/security/data-residency.rst
  docs/security/index.rst
Owners: @AliceVisek

Trương Minh Điền
  docs/index.rst
Owners: @AliceVisek

Update 5.11.rst
  docs/changes/contributors/5.11.rst
Owners: @AliceVisek

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
