Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  docs/locales/et/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

new list_file_format_params
  docs/admin/management.rst
  docs/contributing/documentation.rst
  weblate/trans/forms.py
  weblate/trans/management/commands/list_file_format_params.py
Owners: @AliceVisek, @orangesunny, @nijel

fix(component): pass acting user to background translation sync
  weblate/trans/models/component.py
  weblate/trans/tasks.py
Owners: @nijel

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  docs/locales/et/LC_MESSAGES/docs.po
Owners: none

fix(component): pass acting user to background translation sync
  weblate/trans/models/component.py
  weblate/trans/tasks.py
Owners: @nijel

fix: make sure dev Docker start-dev is always using unix EOL
  .gitattributes
Owners: none

fix(actions): add label for unmilestoned issues
  .github/workflows/issue-milestoned.yml
Owners: none

feat: show source note if explanation is not available
  weblate/templates/translate.html
Owners: none

feat: show source note if explanation is not available
  weblate/templates/translate.html
Owners: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Danish)
  weblate/locale/da/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Catalan)
  weblate/locale/ca/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/djangojs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
