Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

feature: automatic translation using OpenAI
  weblate/machinery/base.py
  weblate/machinery/openai.py
  weblate/machinery/views.py
Owners: @nijel

chore: clarify footer message
  weblate/templates/footer.html
Owners: none

fix(glossary): update stats after glossary sync
  weblate/glossary/tests.py
  weblate/trans/models/translation.py
Owners: @nijel

fix(component): avoid push if needed for not commited changes
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
Owners: @nijel

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

fix: add offline context for bootstrap 5
  weblate/utils/compress.py
Owners: @nijel

chore(fonts): use pathlib for path manipulations
  weblate/fonts/utils.py
Owners: @nijel

chore: fix misplaced changelog entry for #15113
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

chore(fonts): use pathlib for path manipulations
  weblate/fonts/utils.py
Owners: @nijel

feat: recommend granian for wsgi
  docs/admin/install.rst
  docs/admin/management.rst
  docs/changes.rst
  pyproject.toml
  uv.lock
  weblate/examples/granian.service
  weblate/examples/weblate.nginx.granian.conf
  weblate/settings_docker.py
Owners: @AliceVisek, @orangesunny, @nijel

chore: use webpack to manage bootstrap5 dependency
  client/package.json
  client/src/bootstrap5.js
  client/src/bootstrap5_rtl.css
  client/webpack.config.js
  client/yarn.lock
  weblate/static/js/vendor/bootstrap5.js
  weblate/static/js/vendor/bootstrap5.js.license
  weblate/static/js/vendor/bootstrap5_rtl.js
  weblate/static/js/vendor/fonts/fonts.css
  weblate/static/js/vendor/main.js.license
  weblate/static/styles/vendor/bootstrap5.css
  weblate/static/styles/vendor/bootstrap5.css.license
  weblate/static/styles/vendor/bootstrap5_rtl.css
  weblate/static/styles/vendor/bootstrap5_rtl.css.license
  weblate/static/styles/vendor/fonts/fonts.css
  weblate/static/styles/vendor/fonts/fonts.css.license
  weblate/static/styles/vendor/multi.css
  weblate/static/styles/vendor/multi.css.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css.map
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css.map.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css.map
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css.map.license
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js.license
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js.map
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js.map.license
  weblate/templates/base5.html
  weblate/templates/drf_spectacular/redoc.html
  weblate/templates/snippets/meta-css.html
  weblate/templates/svg/style.svg
Owners: @KarenKonou

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  client/src/bootstrap5_rtl.css
  client/webpack.config.js
  weblate/static/styles/vendor/bootstrap5.css
  weblate/static/styles/vendor/bootstrap5_rtl.css
  weblate/static/styles/vendor/fonts/fonts.css
  weblate/static/styles/vendor/multi.css
Owners: @KarenKonou

chore: update pre-commit
  .pre-commit-config.yaml
Owners: none

fix: typo
  client/webpack.config.js
  weblate/static/js/vendor/main.js.license
  weblate/static/styles/vendor/bootstrap5_rtl.css
Owners: @KarenKonou

chore: remove sentry reporting for unit not found
  weblate/trans/models/translation.py
Owners: @nijel

feat: recommend granian for wsgi (#15725)
  docs/admin/install.rst
  docs/admin/management.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/examples/granian.service
  weblate/examples/weblate.nginx.granian.conf
  weblate/settings_docker.py
Owners: @AliceVisek, @orangesunny, @nijel

chore: remove sentry reporting for unit not found
  weblate/trans/models/translation.py
Owners: @nijel

chore: use webpack to manage bootstrap5 dependency (#15726)
  .pre-commit-config.yaml
  client/package.json
  client/src/bootstrap5.js
  client/src/bootstrap5_rtl.css
  client/webpack.config.js
  client/yarn.lock
  docs/specs/sbom/partial/javascript.json
  docs/specs/sbom/sbom.json
  weblate/static/js/vendor/bootstrap5.js
  weblate/static/js/vendor/bootstrap5.js.license
  weblate/static/js/vendor/bootstrap5_rtl.js
  weblate/static/js/vendor/fonts/fonts.css
  weblate/static/js/vendor/main.js.license
  weblate/static/styles/vendor/bootstrap5.css
  weblate/static/styles/vendor/bootstrap5.css.license
  weblate/static/styles/vendor/bootstrap5_rtl.css
  weblate/static/styles/vendor/bootstrap5_rtl.css.license
  weblate/static/styles/vendor/fonts/fonts.css
  weblate/static/styles/vendor/fonts/fonts.css.license
  weblate/static/styles/vendor/multi.css
  weblate/static/styles/vendor/multi.css.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css.map
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css.map.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css.map
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css.map.license
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js.license
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js.map
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js.map.license
  weblate/templates/base5.html
  weblate/templates/drf_spectacular/redoc.html
  weblate/templates/snippets/meta-css.html
  weblate/templates/svg/style.svg
Owners: @KarenKonou

Include OAD generation endpoint itself in the API docs
  weblate/api/urls.py
Owners: @nijel

Add DynamicSchemaView for flexiblte and dynamic OAD generation
  weblate/api/spectacular.py
  weblate/urls.py
Owners: @nijel

Add DynamicSwaggerView as alternative API doc view
  weblate/api/spectacular.py
  weblate/api/spectacular_settings.py
  weblate/middleware.py
  weblate/urls.py
Owners: @nijel

Fix OpenApi base path
  weblate/api/spectacular_settings.py
Owners: @nijel

Add links and description for the new endpoints
  weblate/api/spectacular_settings.py
Owners: @nijel

Move spectaccular settings to spectacular_settings.py for better separation
  weblate/api/spectacular.py
  weblate/api/spectacular_settings.py
  weblate/settings_docker.py
  weblate/settings_example.py
Owners: @nijel

Remove single quote from OAD title
  weblate/api/spectacular_settings.py
Owners: @nijel

Fix typo in get_drf_standardized_errors_settings function name and usage
  weblate/api/spectacular.py
  weblate/settings_docker.py
  weblate/settings_example.py
Owners: @nijel

Add DynamicRedocView with parameter pass-through
  weblate/api/spectacular.py
  weblate/templates/drf_spectacular/redoc.html
  weblate/urls.py
Owners: @nijel

chore: enforce type annotations for utils
  weblate/accounts/models.py
  weblate/accounts/types.py
  weblate/middleware.py
  weblate/trans/models/category.py
  weblate/trans/tasks.py
  weblate/trans/views/basic.py
  weblate/trans/views/hooks.py
  weblate/trans/views/widgets.py
  weblate/utils/antispam.py
  weblate/utils/celery.py
  weblate/utils/compress.py
  weblate/utils/db.py
  weblate/utils/fields.py
  weblate/utils/forms.py
  weblate/utils/requirements.py
  weblate/utils/search.py
  weblate/utils/stats.py
  weblate/utils/tasks.py
  weblate/utils/tests/test_antispam.py
  weblate/utils/tests/test_checks.py
  weblate/utils/tests/test_ratelimit.py
  weblate/utils/tests/test_search.py
  weblate/utils/tests/test_validators.py
  weblate/utils/views.py
Owners: @nijel

chore: enforce type annotations for utils
  weblate/accounts/models.py
  weblate/accounts/types.py
  weblate/middleware.py
  weblate/trans/models/category.py
  weblate/trans/tasks.py
  weblate/trans/views/basic.py
  weblate/trans/views/hooks.py
  weblate/trans/views/widgets.py
  weblate/utils/antispam.py
  weblate/utils/celery.py
  weblate/utils/compress.py
  weblate/utils/db.py
  weblate/utils/fields.py
  weblate/utils/forms.py
  weblate/utils/requirements.py
  weblate/utils/search.py
  weblate/utils/stats.py
  weblate/utils/tasks.py
  weblate/utils/tests/test_antispam.py
  weblate/utils/tests/test_checks.py
  weblate/utils/tests/test_ratelimit.py
  weblate/utils/tests/test_search.py
  weblate/utils/tests/test_validators.py
  weblate/utils/views.py
Owners: @nijel

fix(component): clear alerts on update even if it does not change head
  weblate/trans/models/component.py
Owners: @nijel

fix(component): clear alerts on update even if it does not change head
  weblate/trans/models/component.py
Owners: @nijel

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none
