Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

chore(deps): update translate-toolkit to 3.17.1
  docs/changes.rst
  docs/formats/laravel.rst
  pyproject.toml
  uv.lock
  weblate/formats/tests/test_formats.py
  weblate/trans/migrations/0052_migrate_laravel.py
Owners: @AliceVisek, @nijel

fix(formats): avoid setting source for newly created unit
  weblate/formats/ttkit.py
Owners: @nijel

fix(formats): avoid setting source for newly created unit
  weblate/formats/ttkit.py
Owners: @nijel

chore(deps): update translate-toolkit to 3.17.1 (#17064)
  docs/changes.rst
  docs/formats/laravel.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/formats/tests/test_formats.py
  weblate/trans/migrations/0052_migrate_laravel.py
Owners: @AliceVisek, @nijel

Apply suggestion from @nijel
  weblate/formats/tests/test_formats.py
Owners: @nijel

improve help_text if userblock.note field
  weblate/auth/migrations/0008_userblock_note.py
  weblate/auth/models.py
Owners: @nijel

add changelog for UserBlock.note
  docs/changes.rst
Owners: @AliceVisek

chore(deps): bump translate-toolkit to 3.17.2
  pyproject.toml
  uv.lock
Owners: none

chore(deps): bump translate-toolkit to 3.17.2 (#17080)
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
Owners: none

fix(formats): make IDML test more reliable
  weblate/formats/tests/test_convert.py
Owners: @nijel

fix(formats): make IDML test more reliable
  weblate/formats/tests/test_convert.py
Owners: @nijel

Translated using Weblate (Turkmen)
  docs/locales/tk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkmen)
  weblate/locale/tk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkmen)
  docs/locales/tk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkmen)
  weblate/locale/tk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Owners: none

fix(ui): keyboard shortcuts modal
  weblate/templates/base.html
  weblate/templates/keyboard-shortcuts.html
Owners: none

fix(ui): editor fixes
  weblate/static/editor/full.js
  weblate/templates/translate.html
Owners: @KarenKonou

feat(discovery): preserve file format params (#16922)
  docs/changes.rst
  weblate/trans/discovery.py
Owners: @AliceVisek, @nijel

fix(formats): corrected two field CSV handling
  docs/changes.rst
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/tests/data/en-simple.csv
  weblate/trans/tests/data/pl-simple.csv
Owners: @AliceVisek, @nijel

fix(formats): corrected two field CSV handling
  docs/changes.rst
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/tests/data/en-simple.csv
  weblate/trans/tests/data/pl-simple.csv
Owners: @AliceVisek, @nijel

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none
