Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

fix(component): exclude source strings from the file sync
  weblate/trans/models/component.py
Owners: @nijel

fix(component): exclude source strings from the file sync
  weblate/trans/models/component.py
Owners: @nijel

fix(management): corrected observed https value
  weblate/templates/manage/performance.html
Owners: none

fix(management): corrected observed https value
  weblate/templates/manage/performance.html
Owners: none

fix(component): exclude source strings from the file sync
  weblate/trans/models/component.py
Owners: @nijel

fix(management): corrected observed https value
  weblate/templates/manage/performance.html
Owners: none

chore: setting version to 5.14.3
  client/package.json
  docs/changes.rst
  docs/changes/contributors/5.14.3.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/utils/version.py
Owners: @KarenKonou, @AliceVisek, @nijel

doc: changelog entries
  docs/changes.rst
Owners: @AliceVisek

chore: releasing 5.14.3
  docs/changes.rst
  docs/changes/contributors/5.14.3.rst
  weblate/utils/version.py
Owners: @AliceVisek, @nijel

chore: releasing 5.14.3
  docs/changes.rst
  docs/changes/contributors/5.14.3.rst
  weblate/utils/version.py
Owners: @AliceVisek, @nijel

doc: changelog entries
  docs/changes.rst
Owners: @AliceVisek

fix(component): exclude source strings from the file sync
  weblate/trans/models/component.py
Owners: @nijel

chore: setting version to 5.14.3
  client/package.json
  docs/changes.rst
  docs/changes/contributors/5.14.3.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/utils/version.py
Owners: @KarenKonou, @AliceVisek, @nijel

fix(management): corrected observed https value
  weblate/templates/manage/performance.html
Owners: none

chore: releasing 5.14.3
  docs/changes.rst
Owners: @AliceVisek

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

docs(docker): describe service container volumes briefly
  dev-docker/docker-compose.yml
  docs/admin/install/docker.rst
Owners: @AliceVisek

docs(docker): describe service container volumes briefly
  dev-docker/docker-compose.yml
  docs/admin/install/docker.rst
Owners: @AliceVisek

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (English (United Kingdom))
  weblate/locale/en_GB/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
