Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

feat(api): add api lock/unlock to projects (#15707)
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Owners: @nijel

fix(translation): avoid collecting save errors
  weblate/trans/models/translation.py
Owners: @nijel

chore: add missing type annotation
  weblate/trans/models/translation.py
Owners: @nijel

fix: bring back error reporting
  weblate/trans/models/translation.py
Owners: @nijel

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

implement parsing customization for flatxml
  weblate/formats/base.py
  weblate/formats/convert.py
  weblate/formats/external.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/formats/txt.py
  weblate/trans/file_format_params.py
  weblate/trans/tests/data/cs-flat-custom.xml
Owners: @nijel

documentation and changelog update
  docs/changes.rst
  docs/formats/flatxml.rst
  docs/snippets/file-format-parameters.rst
  weblate/formats/convert.py
  weblate/formats/txt.py
Owners: @AliceVisek, @orangesunny, @nijel

reorder file format parameters changelogs in changes.rst
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

docs: reorder file format parameters changelogs in changes.rst (#15839)
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

feat: inject GitHub token to pre-commit
  .github/workflows/pre-commit.yml
Owners: none

feat: inject GitHub token to pre-commit
  .github/workflows/pre-commit.yml
Owners: none

chore: disable caching in the release workflow
  .github/workflows/setup.yml
Owners: none

Document parametrization
  docs/formats/flatxml.rst
Owners: @AliceVisek, @orangesunny

chore: disable caching in the release workflow
  .github/workflows/setup.yml
Owners: none

english typo fix
  docs/formats/flatxml.rst
Owners: @AliceVisek, @orangesunny

feat (formats): Configure FlatXML parsing with File format parameters (#15836)
  docs/changes.rst
  docs/formats/flatxml.rst
  docs/snippets/file-format-parameters.rst
  weblate/formats/base.py
  weblate/formats/convert.py
  weblate/formats/external.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/formats/txt.py
  weblate/trans/file_format_params.py
  weblate/trans/tests/data/cs-flat-custom.xml
Owners: @AliceVisek, @orangesunny, @nijel

fix(bulk-edit): filter out strings at the database level
  weblate/trans/bulk.py
  weblate/trans/models/component.py
Owners: @nijel

chore: add type annotations for template checks
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
Owners: @nijel

chore: add type annotations for template checks
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
Owners: @nijel

fix(api): reduce users api visibility
  weblate/api/tests.py
  weblate/api/views.py
Owners: @nijel
