Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Swahili)
  docs/locales/sw/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Swahili)
  weblate/locale/sw/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Swahili)
  weblate/locale/sw/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Swahili)
  docs/locales/sw/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

docs: document impact on API users for autotranslate changes
  docs/api.rst
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

fix(api): differentiate queryset for get and list
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/tests.py
  weblate/api/views.py
Owners: @AliceVisek, @orangesunny, @nijel

fix(api): differentiate queryset for get and list
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/tests.py
  weblate/api/views.py
Owners: @AliceVisek, @orangesunny, @nijel

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

fix(ui): use margin instead of padding for auth image in list
  weblate/static/styles/main.css
Owners: @KarenKonou

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
