Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

chore: improve mypy configuration
  pyproject.toml
Owners: none

chore: corrected typos
  weblate/utils/requirements.py
  weblate/vcs/git.py
Owners: @nijel

feat(add-ons): integrate Fedora Messaging
  docs/admin/addons.rst
  docs/admin/optionals.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/addons/base.py
  weblate/addons/fedora_messaging.py
  weblate/addons/forms.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/utils/validators.py
Owners: @AliceVisek, @nijel

docs(add-ons): document common parameters separately
  docs/admin/addons.rst
  weblate/addons/management/commands/list_addons.py
Owners: @AliceVisek, @nijel

fix(component): tighter validation while adding new language
  weblate/trans/models/component.py
Owners: @nijel

chore: remove unused variable assignments
  weblate/api/tests.py
  weblate/glossary/tests.py
Owners: @nijel

fix(glossary): Show glossary matches for the source language
  docs/changes.rst
  weblate/glossary/models.py
Owners: @AliceVisek, @nijel

feat(add-ons): move event filtering to the task
  weblate/addons/autotranslate.py
  weblate/addons/base.py
  weblate/addons/fedora_messaging.py
  weblate/addons/tasks.py
  weblate/addons/webhooks.py
Owners: @nijel

docs(add-ons): document common parameters separately
  docs/admin/addons.rst
  weblate/addons/management/commands/list_addons.py
Owners: @AliceVisek, @nijel

chore: remove unused variable assignments
  weblate/api/tests.py
  weblate/glossary/tests.py
Owners: @nijel

chore: corrected typos
  weblate/utils/requirements.py
  weblate/vcs/git.py
Owners: @nijel

fix(glossary): Show glossary matches for the source language
  docs/changes.rst
  weblate/glossary/models.py
Owners: @AliceVisek, @nijel

Update the weblate projects auto-setup script to fix the issue with duplicate filenames.
  scripts/auto/project-configs/setup_project_boost_unordered.json
  scripts/auto/setup_project.py
Owners: @nijel

fix(ui): fix translate page appearance
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/translate.html
Owners: @KarenKonou

Apply suggestion from @nijel
  weblate/templates/translate.html
Owners: none

docs: add hint for disabling e-mail authentication
  docs/admin/install/docker.rst
Owners: @AliceVisek

fix(ui): fix translate page appearance (#17196)
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/translate.html
Owners: @KarenKonou

feat(deps): include zstd and brotli extras
  pyproject.toml
  uv.lock
Owners: none

Re-Update the weblate projects auto-setup script to fix the issue with duplicate filenames.
  scripts/auto/setup_project.py
Owners: @nijel

feat(deps): include zstd and brotli extras (#17201)
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
Owners: none

Initial commit to test
  docs/api.rst
Owners: @AliceVisek

Drafted API documentation in api.rst
  docs/api.rst
Owners: @AliceVisek

Updated changes.rst
  docs/changes.rst
Owners: @AliceVisek

Added new versionchanged number in api.rst
  docs/api.rst
Owners: @AliceVisek

Updated api.rst documentation to reflect error codes
  docs/api.rst
Owners: @AliceVisek

Updated changes.rst to reflect that API endpoint generates a ZIP file
  docs/changes.rst
Owners: @AliceVisek

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

final touchups to api docs
  docs/api.rst
Owners: @AliceVisek

fixed typo
  docs/changes.rst
Owners: @AliceVisek

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
