Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

fix migration errors
  docs/admin/config.rst
  weblate/addons/events.py
  weblate/trans/file_format_params.py
Owners: @AliceVisek, @orangesunny, @nijel

feat: use docutils parser for RSTReferencesCheck
  docs/changes.rst
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
Owners: @AliceVisek, @orangesunny, @nijel

feat(checks): make RSTReferencesCheck generic markup consistency check
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
Owners: @AliceVisek, @orangesunny, @nijel

feat(checks): make RSTReferencesCheck generic markup consistency check
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
Owners: @AliceVisek, @orangesunny, @nijel

feat: use docutils parser for RSTReferencesCheck
  docs/changes.rst
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
Owners: @AliceVisek, @orangesunny, @nijel

feat(docs): filter out strings for translation
  docs/Makefile
  scripts/filter-docs-po.py
Owners: @nijel

feat(docs): filter out strings for translation
  docs/Makefile
  scripts/filter-docs-po.py
Owners: @nijel

chore: update generated docs
  docs/admin/access.rst
  weblate/auth/management/commands/list_permissions.py
Owners: @AliceVisek, @orangesunny, @nijel

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Asturian)
  docs/locales/ast/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic (Libya))
  docs/locales/ar_LY/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Azerbaijani)
  docs/locales/az/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian (Latin script))
  docs/locales/be_Latn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bengali)
  docs/locales/bn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bengali (Bangladesh))
  docs/locales/bn_BD/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Catalan)
  docs/locales/ca/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chechen)
  docs/locales/ce/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Kurdish (Central))
  docs/locales/ckb/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Crimean Tatar)
  docs/locales/crh/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chuvash)
  docs/locales/cv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Danish)
  docs/locales/da/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Welsh)
  docs/locales/cy/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Esperanto)
  docs/locales/eo/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  docs/locales/et/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Basque)
  docs/locales/eu/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Persian)
  docs/locales/fa/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Frisian)
  docs/locales/fy/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
