Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

fix: honor configured translate view on project-language search
  weblate/templates/category-language.html
  weblate/templates/language-project.html
Owners: none

fix: honor configured translate view on project-language search
  weblate/templates/category-language.html
  weblate/templates/language-project.html
Owners: none

feat(upload): add help text to upload methods
  docs/user/files.rst
  weblate/templates/bootstrap5/layout/radioselect_upload_method.html
  weblate/trans/forms.py
  weblate/trans/templatetags/upload_methods.py
  weblate/trans/tests/test_templatetags.py
Owners: @AliceVisek, @nijel

fix(ui): migrate billing to bootstrap 5
  weblate/templates/billing/detail.html
Owners: none

feat(upload): add help text to upload methods
  docs/user/files.rst
  weblate/templates/bootstrap5/layout/radioselect_upload_method.html
  weblate/trans/forms.py
  weblate/trans/templatetags/upload_methods.py
  weblate/trans/tests/test_templatetags.py
Owners: @AliceVisek, @nijel

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

fix(js): remove superfluous argument
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

fix(js): define variable in a scope
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

feat(dev): add billing_demo command
  .github/workflows/test.yml
  docs/admin/management.rst
  docs/contributing/start.rst
  weblate/billing/management/commands/billing_demo.py
Owners: @AliceVisek, @nijel

fix(ui): migrate billing to bootstrap 5
  weblate/templates/billing/detail.html
Owners: none

fix(js): define variable in a scope
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

fix(api): improve users access control
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/static/loader-bootstrap.js
Owners: @nijel, @KarenKonou

feat(dev): add billing_demo command
  .github/workflows/test.yml
  docs/admin/management.rst
  docs/contributing/start.rst
  weblate/billing/management/commands/billing_demo.py
Owners: @AliceVisek, @nijel

fix(js): remove superfluous argument
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

fix(api): improve users access control
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/static/loader-bootstrap.js
Owners: @nijel, @KarenKonou
