Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

docs: describe Celery tasks internals
  docs/admin/install.rst
  docs/admin/install/docker.rst
  docs/admin/management.rst
  docs/contributing/internals.rst
Owners: @AliceVisek, @orangesunny

chore(lock): use reacquire instead of extend
  weblate/utils/lock.py
Owners: @nijel

fix(ci): fixed mypy execution
  .github/workflows/mypy.yml
Owners: none

fix(tests): pass correct parameters to check_format
  weblate/checks/tests/test_format_checks.py
Owners: @nijel

chore(lock): use reacquire instead of extend
  weblate/utils/lock.py
Owners: @nijel

fix(scripts): avoid hacky approach to UUID generation
  scripts/reproducible-sbom.py
Owners: @nijel

fix(tests): pass correct parameters to check_format
  weblate/checks/tests/test_format_checks.py
Owners: @nijel

fix(component): faster creating source units
  weblate/trans/models/component.py
  weblate/trans/models/unit.py
Owners: @nijel

fix(component): faster creating source units
  weblate/trans/models/component.py
  weblate/trans/models/unit.py
Owners: @nijel

docs: add benchmarking documentation
  docs/admin/management.rst
Owners: @AliceVisek, @orangesunny

feat(translation): unload store after parsing
  weblate/trans/models/translation.py
Owners: @nijel

feat(translation): bulk create source strings while parsing
  weblate/trans/management/commands/import_demo.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
Owners: @nijel

feat(translation): unload store after parsing
  weblate/trans/models/translation.py
Owners: @nijel

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
