Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

migrate GWTFormat encoding to file format params
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
Owners: @nijel

migrate StringsFormat encoding to file format parameters
  weblate/formats/base.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel

migration file
  ci/run-migrate
  weblate/formats/models.py
  weblate/trans/migrations/0058_file_format_encoding.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel

migrate PropertiesFormat encoding to file_format_params
  weblate/addons/properties.py
  weblate/formats/models.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_file_format_params.py
  weblate/trans/tests/utils.py
Owners: @nijel

migrate CSVFormat and CSVSimpleFormat encoding to file_format_params
  weblate/formats/external.py
  weblate/formats/models.py
  weblate/formats/multi.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/utils.py
Owners: @nijel

pylint fix
  weblate/formats/auto.py
Owners: @nijel

Update file formats documentation
  ci/run-migrate
  docs/changes.rst
  docs/formats/apple.rst
  docs/formats/csv.rst
  docs/formats/java.rst
  docs/snippets/file-format-parameters.rst
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
Owners: @AliceVisek, @nijel

typo fix
  ci/run-migrate
Owners: none

improve test coverage
  weblate/trans/file_format_params.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel
