Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

fix: do not call commit pending called for non-committable changes (#16863)
  weblate/trans/backups.py
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/translation.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_models.py
  weblate/trans/tests/test_remote.py
  weblate/trans/tests/test_tasks.py
Owners: @nijel

feat: initial compatibility with LoginRequiredMiddleware
  weblate/accounts/views.py
  weblate/configuration/views.py
  weblate/legal/views.py
  weblate/trans/views/basic.py
  weblate/trans/views/widgets.py
  weblate/urls.py
Owners: @nijel

fix(middleware): avoid redirecting too long URLs
  weblate/middleware.py
Owners: @nijel

fix(middleware): avoid redirecting too long URLs
  weblate/middleware.py
Owners: @nijel

feat(ui): migrate translate template
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/check_list.html
  weblate/templates/snippets/autoform.html
  weblate/templates/snippets/position-field.html
  weblate/templates/snippets/translation.html
  weblate/trans/templatetags/translations.py
Owners: @KarenKonou, @nijel

feat: initial compatibility with LoginRequiredMiddleware
  weblate/accounts/views.py
  weblate/configuration/views.py
  weblate/legal/views.py
  weblate/trans/views/basic.py
  weblate/trans/views/widgets.py
  weblate/urls.py
Owners: @nijel

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

feat: remove stale lock files
  weblate/vcs/base.py
  weblate/vcs/git.py
Owners: @nijel

feat: remove stale lock files
  weblate/vcs/base.py
  weblate/vcs/git.py
Owners: @nijel

fix(formats): make IDML test more reliable
  weblate/formats/tests/test_convert.py
Owners: @nijel

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Kabyle)
  weblate/locale/kab/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Kabyle)
  docs/locales/kab/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Kabyle)
  weblate/locale/kab/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Kabyle)
  docs/locales/kab/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

feat(state): add granular fuzzy states for translation units
  weblate/addons/tests.py
  weblate/api/views.py
  weblate/checks/source.py
  weblate/formats/ttkit.py
  weblate/trans/bulk.py
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/unit.py
  weblate/utils/search.py
  weblate/utils/state.py
  weblate/utils/stats.py
  weblate/utils/tests/test_search.py
Owners: @nijel

add missing migration
  weblate/trans/migrations/0051_alter_pendingunitchange_state_and_more.py
Owners: @nijel

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none
