Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Catalan)
  weblate/locale/ca/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Apply suggestions from code review
  weblate/machinery/tests.py
Owners: @nijel

fix(ui): styling fixes
  weblate/static/style-dark.css
  weblate/static/styles/main.css
Owners: @KarenKonou

Apply suggestion from @nijel
  weblate/machinery/tests.py
Owners: @nijel

Apply suggestion from @nijel
  weblate/machinery/tests.py
Owners: @nijel

fix(translation): do not trigger full save when storing pending changes
  docs/changes.rst
  weblate/trans/models/translation.py
  weblate/trans/tests/test_edit.py
Owners: @AliceVisek, @nijel

Translated using Weblate (Azerbaijani)
  weblate/locale/az/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Thai)
  weblate/locale/th/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Thai)
  weblate/locale/th/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Bantu (Other))
  weblate/locale/bnt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Bantu (Other))
  weblate/locale/bnt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Thai)
  weblate/locale/th/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Thai)
  weblate/locale/th/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Azerbaijani)
  weblate/locale/az/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

fix(translation): do not trigger full save when storing pending changes
  docs/changes.rst
  weblate/trans/models/translation.py
  weblate/trans/tests/test_edit.py
Owners: @AliceVisek, @nijel

docs: various fixes
  docs/admin/access.rst
  docs/changes.rst
  docs/contributing/code_of_conduct.rst
  docs/user/search.rst
  scripts/filter-docs-po.py
Owners: @AliceVisek, @nijel

test: Added persona configuration as well as empty and error mocks to better cover test cases
  weblate/machinery/llm.py
  weblate/machinery/ollama.py
  weblate/machinery/tests.py
Owners: @nijel

docs: various fixes
  docs/admin/access.rst
  docs/changes.rst
  docs/contributing/code_of_conduct.rst
  docs/user/search.rst
  scripts/filter-docs-po.py
Owners: @AliceVisek, @nijel

Update docs/changes.rst
  docs/changes.rst
Owners: @AliceVisek

Update weblate/api/views.py
  weblate/api/views.py
Owners: @nijel

Apply suggestion from @Copilot
  docs/admin/machine.rst
Owners: @AliceVisek

allow users to leave a note when blocking a user (#17038)
  docs/changes.rst
  weblate/auth/migrations/0008_userblock_note.py
  weblate/auth/models.py
  weblate/templates/accounts/user.html
  weblate/templates/trans/project-access.html
  weblate/trans/forms.py
  weblate/trans/tests/test_acl.py
  weblate/trans/views/acl.py
Owners: @AliceVisek, @nijel

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Address review comment for pagination
  weblate/api/tests.py
  weblate/api/views.py
Owners: @nijel

fix: Copilot suggestions adapted + step back in empty response test
  weblate/machinery/forms.py
  weblate/machinery/ollama.py
  weblate/machinery/tests.py
Owners: @nijel

Add regex filter for project language file downloads
  weblate/api/tests.py
  weblate/api/views.py
Owners: @nijel

added test for no translations for requested language
  weblate/api/tests.py
Owners: @nijel

feat(api): Added support for listing comments on a unit (#17108)
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/tests.py
  weblate/api/views.py
Owners: @AliceVisek, @nijel

Apply suggestions from code review
  weblate/machinery/forms.py
Owners: @nijel

feat(unit): allow to skip select for update
  weblate/trans/autotranslate.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
Owners: @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
