Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

fix: remove duplicate CLA text (#15505)
  weblate/templates/contributor-agreement.html
Owners: none

fix: consolidate position of watch menu
  weblate/templates/category.html
  weblate/templates/component.html
  weblate/templates/translation.html
Owners: none

fix(lang): improved user language detection from browser preferences
  weblate/lang/models.py
Owners: @nijel

feat(auth): add nice name and logo for Fedora OIDC
  weblate/accounts/templatetags/authnames.py
Owners: @nijel

fix(lang): improved user language detection from browser preferences
  weblate/lang/models.py
Owners: @nijel

docs: clarify GitHub token options
  docs/admin/config.rst
Owners: @AliceVisek, @orangesunny

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

chore(changes): add sanity checking to display code
  weblate/trans/change_display.py
Owners: @nijel

chore: update type annotations
  weblate/trans/util.py
  weblate/utils/licenses.py
  weblate/utils/messages.py
Owners: @nijel

chore(changes): add sanity checking to display code
  weblate/trans/change_display.py
Owners: @nijel

chore: update type annotations
  weblate/trans/util.py
  weblate/utils/licenses.py
  weblate/utils/messages.py
Owners: @nijel

docs: fix typo in format example
  docs/formats/formatjs.rst
Owners: @AliceVisek, @orangesunny

fix(ui): render notification form horizontally on bootstrap 5
  weblate/accounts/forms.py
Owners: @nijel

feat: Adding new TOTP authentication will now remove previous ones by default
  docs/changes.rst
  weblate/accounts/forms.py
  weblate/accounts/tests/test_twofactor.py
  weblate/accounts/views.py
Owners: @AliceVisek, @orangesunny, @nijel

migrating from addons to file_format_params
  ci/run-migrate
  weblate/trans/format_params.py
  weblate/trans/migrations/0042_component_file_format_params.py
  weblate/trans/tests/utils.py
Owners: @nijel

fix(ui): style tweaks
  weblate/static/styles/variables.css
  weblate/templates/accounts/profile.html
Owners: @KarenKonou

pass file_format_params parameter to TranslationFormat.load for parsing customization
  weblate/formats/base.py
  weblate/formats/convert.py
  weblate/formats/ttkit.py
  weblate/formats/txt.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
Owners: @nijel

feat(ghost-translations): use add project language for ghost translations
  weblate/accounts/models.py
  weblate/templates/project.html
  weblate/templates/snippets/list-objects.html
  weblate/trans/forms.py
  weblate/trans/models/project.py
  weblate/trans/models/translation.py
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_views.py
  weblate/trans/views/basic.py
  weblate/trans/views/dashboard.py
  weblate/utils/stats.py
Owners: @nijel

doc: document gettext wrapping and add-ons
  docs/formats/gettext.rst
Owners: @AliceVisek, @orangesunny

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
