Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @meel-hd, @nijel

migration file added
  weblate/trans/migrations/0029_alter_change_action.py
Owners: @nijel

docs: move file formats below admin docs
  docs/index.rst
Owners: @AliceVisek

chore(gitexport): add type annotations
  weblate/gitexport/views.py
Owners: @nijel

webhook icon added
  weblate/addons/webhooks.py
  weblate/static/icons/webhook.svg
Owners: @nijel

AttributeError fix
  weblate/utils/search.py
Owners: @nijel

docs: add missing docs about project tokens
  docs/admin/access.rst
  docs/api.rst
Owners: @AliceVisek

docs: add missing link
  docs/admin/access.rst
  docs/api.rst
Owners: @AliceVisek

feat(vcs): enable proactive git authentication
  ci/apt-install
  weblate/vcs/git.py
Owners: @nijel

feat(ci): run tests on macos
  .github/workflows/macos.yml
  docs/admin/install/venv-macos.rst
Owners: @AliceVisek

chore: releasing 5.10.2-rc
  docs/changes.rst
  weblate/utils/version.py
Owners: @AliceVisek, @nijel

typo fix
  weblate/trans/views/hooks.py
Owners: @nijel

fix(checks): do not use concurrent regex iter here
  weblate/checks/placeholders.py
Owners: @nijel

chore: add type annotations
  weblate/trans/util.py
Owners: @nijel

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic (Libya))
  docs/locales/ar_LY/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Asturian)
  docs/locales/ast/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Azerbaijani)
  docs/locales/az/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian (Latin script))
  docs/locales/be_Latn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bengali)
  docs/locales/bn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bengali (Bangladesh))
  docs/locales/bn_BD/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Catalan)
  docs/locales/ca/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chechen)
  docs/locales/ce/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Kurdish (Central))
  docs/locales/ckb/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Crimean Tatar)
  docs/locales/crh/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chuvash)
  docs/locales/cv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Welsh)
  docs/locales/cy/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Danish)
  docs/locales/da/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Esperanto)
  docs/locales/eo/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  docs/locales/et/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @meel-hd
*.js @meel-hd
*.css @meel-hd
*.py @nijel
