Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

fix(typing): use test settings as base
  pyproject.toml
Owners: none

chore: add type annotations to project
  weblate/machinery/types.py
  weblate/trans/models/project.py
Owners: @nijel

docs: clarify quality gateway workflow description
  docs/workflows.rst
Owners: @AliceVisek, @orangesunny

fix(typing): use test settings as base
  pyproject.toml
Owners: none

chore: add type annotations to project
  weblate/machinery/types.py
  weblate/trans/models/project.py
Owners: @nijel

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

fix(deps): pin exact version of schemas
  pyproject.toml
Owners: none

chore: sync lock files
  uv.lock
Owners: none

chore(deps): update lockfile
  uv.lock
Owners: none

correct variable naming
  docs/admin/config.rst
  docs/admin/install/docker.rst
  weblate/memory/tasks.py
  weblate/memory/tests.py
  weblate/settings_docker.py
  weblate/trans/migrations/0042_project_autoclean_tm.py
  weblate/trans/models/_conf.py
  weblate/trans/models/project.py
Owners: @AliceVisek, @orangesunny, @nijel

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
