Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian (Latin script))
  docs/locales/be_Latn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Romanian)
  docs/locales/ro/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Latvian)
  docs/locales/lv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bashkir)
  docs/locales/ba/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Danish)
  docs/locales/da/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Tamil)
  docs/locales/ta/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Afrikaans)
  docs/locales/af/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Welsh)
  docs/locales/cy/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

added support for XML file format params
  .pre-commit-config.yaml
  weblate/addons/forms.py
  weblate/addons/models.py
  weblate/addons/xml.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/trans/format_params.py
  weblate/trans/migrations/0045_component_file_format_params.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel

documentation update
  docs/admin/addons.rst
  docs/changes.rst
  docs/formats.rst
  docs/snippets/file-format-parameters.rst
  weblate/formats/base.py
  weblate/formats/ttkit.py
  weblate/trans/format_params.py
  weblate/trans/forms.py
  weblate/trans/management/commands/list_file_format_params.py
  weblate/trans/models/translation.py
Owners: @AliceVisek, @orangesunny, @nijel

remove store_post_load signal and triggers
  weblate/addons/base.py
  weblate/addons/events.py
  weblate/addons/models.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/signals.py
Owners: @nijel

improve test coverage
  weblate/addons/tests.py
  weblate/formats/base.py
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/management/commands/list_file_format_params.py
  weblate/trans/migrations/0045_component_file_format_params.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Owners: none
