Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @meel-hd, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @meel-hd
*.js @meel-hd
*.css @meel-hd
*.py @nijel

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hungarian)
  weblate/locale/hu/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hungarian)
  weblate/locale/hu/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

fix: use configured timezone in display and commits
  weblate/trans/models/component.py
  weblate/trans/templatetags/translations.py
Owners: @nijel

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

feat: add GPT-4.5 to list of models
  weblate/machinery/forms.py
Owners: @nijel

chore: releasing 5.10.2
  docs/changes.rst
  docs/changes/contributors/5.10.2.rst
  weblate/utils/version.py
Owners: @AliceVisek, @nijel

implement webhooks signature
  weblate/addons/tests.py
  weblate/addons/webhooks.py
Owners: @nijel

remove retry feature
  weblate/addons/webhooks.py
  weblate/api/tasks.py
Owners: @nijel

chore: setting version to 5.10.3
  client/package.json
  docs/changes.rst
  docs/changes/contributors/5.10.3.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/utils/version.py
Owners: @meel-hd, @AliceVisek, @nijel

fix: prefetch metadata when downloading
  docs/changes.rst
  weblate/api/views.py
  weblate/trans/views/files.py
Owners: @AliceVisek, @nijel

fix: prefetch metadata when downloading
  docs/changes.rst
  weblate/api/views.py
  weblate/trans/views/files.py
Owners: @AliceVisek, @nijel

fix: do not store debug logs in the task log
  weblate/trans/mixins.py
  weblate/trans/models/component.py
Owners: @nijel

chore: add type annotations to notifications
  weblate/accounts/notifications.py
  weblate/auth/models.py
Owners: @nijel

chore: add type annotations to notifications
  weblate/accounts/notifications.py
  weblate/auth/models.py
Owners: @nijel

fix: extensively cache subscriptions
  docs/changes.rst
  weblate/accounts/notifications.py
Owners: @AliceVisek, @nijel

fix(utils): use strcoll for sorting strings instead of strxfrm
  weblate/trans/tests/test_sort.py
  weblate/trans/util.py
Owners: @nijel

fix: extensively cache subscriptions
  docs/changes.rst
  weblate/accounts/notifications.py
Owners: @AliceVisek, @nijel

fix: do not store debug logs in the task log
  weblate/trans/mixins.py
  weblate/trans/models/component.py
Owners: @nijel

fix: do not store logs without a request ID
  weblate/trans/models/component.py
Owners: @nijel

Translated using Weblate (Icelandic)
  weblate/locale/is/LC_MESSAGES/djangojs.po
Owners: none

fix: optimize fetching linked components for links
  docs/changes.rst
  weblate/trans/models/component.py
Owners: @AliceVisek, @nijel

fix(stats): fetch check_flags as that is needed
  weblate/utils/stats.py
Owners: @nijel

fix(stats): fetch check_flags as that is needed
  weblate/utils/stats.py
Owners: @nijel

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

fix: optimize fetching linked components for links
  docs/changes.rst
  weblate/trans/models/component.py
Owners: @AliceVisek, @nijel

fix(api): cannot derive param of groupviewset
  weblate/api/views.py
Owners: @nijel

fix(api): cannot derive param of componentviewset
  weblate/api/views.py
Owners: @nijel

fix(api): cannot derive param of componentlistviewset
  weblate/api/views.py
Owners: @nijel

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

fix(api): non-existent method in viewset
  weblate/api/spectacular.py
  weblate/api/views.py
Owners: @nijel

fix(api): viewset without associated serializer
  weblate/api/views.py
Owners: @nijel
