Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Kannada)
  docs/locales/kn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Igbo)
  docs/locales/ig/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (South American Indian (Other))
  docs/locales/sai/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hindi (Latin script))
  docs/locales/hi_Latn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinook jargon)
  docs/locales/chn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Malagasy)
  docs/locales/mg/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Mongolian)
  docs/locales/mn/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Awadhi)
  docs/locales/awa/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Viossa)
  docs/locales/qpv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bashkir)
  docs/locales/ba/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Mara)
  docs/locales/mrh/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Bavarian)
  docs/locales/bar/LC_MESSAGES/docs.po
Owners: none

change minimal version of translate-toolkit 3.15.4
  ci/pip-install
  pyproject.toml
  weblate/formats/tests/test_formats.py
Owners: @nijel

use v3.15.5. because v3.15.4 is yanked
  pyproject.toml
Owners: none

chore(docs): share code for generating RST tables
  docs/admin/access.rst
  weblate/addons/management/commands/list_addons.py
  weblate/auth/management/commands/list_permissions.py
  weblate/machinery/management/commands/list_machinery.py
  weblate/utils/rst.py
Owners: @AliceVisek, @orangesunny, @nijel

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

fix: corrected path to the script
  docs/Makefile
Owners: none

chore(docs): share code for generating RST tables
  docs/admin/access.rst
  weblate/addons/management/commands/list_addons.py
  weblate/auth/management/commands/list_permissions.py
  weblate/machinery/management/commands/list_machinery.py
  weblate/utils/rst.py
Owners: @AliceVisek, @orangesunny, @nijel

Update minimal version for `translate-toolkit` to 3.15.5 (#15641)
  ci/pip-install
  pyproject.toml
  uv.lock
  weblate/formats/tests/test_formats.py
Owners: @nijel

chore: improve error message for incompatible backups restore
  weblate/trans/forms.py
Owners: @nijel

include backup version in error message
  weblate/trans/forms.py
Owners: @nijel

chore: clarify format_table docs
  weblate/utils/rst.py
Owners: @nijel

docs: use nested tables for add-on parameters
  docs/admin/addons.rst
  weblate/addons/management/commands/list_addons.py
  weblate/checks/management/commands/list_checks.py
  weblate/machinery/management/commands/list_machinery.py
Owners: @AliceVisek, @orangesunny, @nijel

docs: use nested tables for add-on parameters
  docs/admin/addons.rst
  weblate/addons/management/commands/list_addons.py
  weblate/checks/management/commands/list_checks.py
  weblate/machinery/management/commands/list_machinery.py
Owners: @AliceVisek, @orangesunny, @nijel

feat(doc): support aditional nesting in table generation
  docs/admin/access.rst
  weblate/auth/management/commands/list_permissions.py
  weblate/utils/rst.py
Owners: @AliceVisek, @orangesunny, @nijel

docs: fix seelso nesting
  docs/admin/checks.rst
Owners: @AliceVisek, @orangesunny

fix(ui): correct alert icon on bootstrap 5
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

feat(doc): support aditional nesting in table generation
  docs/admin/access.rst
  weblate/auth/management/commands/list_permissions.py
  weblate/utils/rst.py
Owners: @AliceVisek, @orangesunny, @nijel

chore(ci): filter out mypy errors
  .github/workflows/mypy.yml
  scripts/filter-mypy.sh
Owners: none

chore(ci): filter out mypy errors
  .github/workflows/mypy.yml
  scripts/filter-mypy.sh
Owners: none

chore: add type annotations to class loader
  scripts/filter-mypy.sh
  weblate/addons/management/commands/list_addons.py
  weblate/addons/views.py
  weblate/checks/base.py
  weblate/checks/management/commands/list_checks.py
  weblate/checks/models.py
  weblate/checks/tasks.py
  weblate/checks/tests/test_fluent_checks.py
  weblate/checks/views.py
  weblate/formats/tests/test_formats.py
  weblate/trans/autofixes/__init__.py
  weblate/trans/autofixes/base.py
  weblate/trans/filter.py
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_autofix.py
  weblate/utils/classloader.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/mercurial.py
Owners: @nijel

chore: improve error message for incompatible backups restore (#15576)
  weblate/trans/forms.py
Owners: @nijel

chore: update typos confiuration
  pyproject.toml
Owners: none

improve migration
  weblate/addons/migrations/0007_update_autotranslate_filter_type.py
Owners: @nijel

feat: use search queries for automatic translation
  weblate/addons/migrations/0007_update_autotranslate_filter_type.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/checks/tests/test_models.py
  weblate/trans/autotranslate.py
  weblate/trans/forms.py
  weblate/trans/management/commands/auto_translate.py
  weblate/trans/models/unit.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/tests/test_component.py
  weblate/trans/views/edit.py
Owners: @nijel

update docs
  docs/admin/addons.rst
Owners: @AliceVisek, @orangesunny

Fix unknown parameters in auto_translate_component
  weblate/addons/autotranslate.py
Owners: @nijel

fix test
  weblate/trans/forms.py
  weblate/trans/tests/test_selenium.py
Owners: @nijel
