Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Add header to checks documentation
  docs/user/checks.rst
Owners: @AliceVisek

Fix formatting for workflows section header
  docs/workflows.rst
Owners: @AliceVisek

feat: replace custom middleware with Django's LoginRequiredMiddleware
  docs/changes.rst
  weblate/accounts/middleware.py
  weblate/accounts/tests/test_middleware.py
  weblate/gitexport/views.py
  weblate/settings_docker.py
  weblate/settings_example.py
Owners: @AliceVisek, @nijel

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Develop tools to backup data from server
  .gitignore
  Setup-ongoing.md
  docs/Backup_Restore_Scripts_Explanation.md
  docs/Copy_Projects_From_Server.md
  scripts/README_create_project.md
  scripts/auto/QUICK_START.md
  scripts/auto/README.md
  scripts/auto/add_translation.py
  scripts/auto/create_component.example.json
  scripts/auto/create_component.py
  scripts/auto/create_component_and_add_translation.example.json
  scripts/auto/create_component_and_add_translation.py
  scripts/auto/setup_project.example.json
  scripts/auto/setup_project.py
  scripts/auto/web.example.json
  scripts/backup_from_server.sh
  scripts/dump_database.sh
  scripts/restore_to_local.sh
  scripts/update_push_urls.py
  start-weblate.sh
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
Owners: @nijel

fix(alerts): improve automatically locked message
  weblate/templates/snippets/component/lock.html
Owners: none

fix(manage): gracefully handle checks without a link
  weblate/wladmin/templatetags/check_links.py
Owners: @nijel

feat(state): add granular fuzzy states for translation units (#16947)
  docs/specs/openapi.yaml
  weblate/addons/tests.py
  weblate/api/views.py
  weblate/checks/source.py
  weblate/formats/ttkit.py
  weblate/trans/bulk.py
  weblate/trans/migrations/0051_alter_pendingunitchange_state_and_more.py
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/unit.py
  weblate/utils/search.py
  weblate/utils/state.py
  weblate/utils/stats.py
  weblate/utils/tests/test_search.py
Owners: @nijel

fix(alerts): improve automatically locked message
  weblate/templates/snippets/component/lock.html
Owners: none

fix(ui): update form fields to bootstrap 5
  weblate/accounts/forms.py
  weblate/trans/forms.py
  weblate/wladmin/forms.py
Owners: @nijel

feat: improve denied error for restricted components
  weblate/auth/permissions.py
Owners: @nijel

fix(unit): honor restricted components in path lookup
  weblate/utils/views.py
Owners: @nijel

fix(manage): gracefully handle checks without a link
  weblate/wladmin/templatetags/check_links.py
Owners: @nijel

fix(unit): honor restricted components in path lookup
  weblate/utils/views.py
Owners: @nijel

feat(state): use needs-checking/needs-rewriting states
  weblate/addons/flags.py
  weblate/trans/forms.py
  weblate/trans/models/comment.py
  weblate/trans/models/pending.py
  weblate/trans/models/unit.py
  weblate/trans/views/edit.py
Owners: @nijel

fix(ui): update custom crispy form field
  weblate/templates/bootstrap5/field.html
Owners: none

feat: improve denied error for restricted components
  weblate/auth/permissions.py
Owners: @nijel

Fix for Unused local variable
  weblate/middleware.py
Owners: @nijel
