Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Azerbaijani)
  docs/locales/az/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

add automatic translated check dismissal
  weblate/static/editor/full.js
  weblate/templates/translate.html
  weblate/trans/tests/test_edit.py
  weblate/trans/views/js.py
  weblate/urls.py
Owners: @KarenKonou, @nijel

feat(pending change): display detailed count on the repository status page
  weblate/templates/js/git-status.html
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/tests/test_remote.py
  weblate/trans/views/js.py
Owners: @nijel

pluralize count properly
  weblate/templates/js/git-status.html
Owners: none

Resolve Boost-Weblate Git commit errors
  .gitignore
  pyproject.toml
  scripts/backup/backup_from_server.sh
  weblate/formats/asciidoc.py
Owners: @nijel

chore: drop Web Monetization support
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/settings_docker.py
  weblate/templates/base.html
  weblate/templates/base5.html
  weblate/trans/context_processors.py
  weblate/utils/models.py
Owners: @AliceVisek, @nijel

chore: drop Web Monetization support
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/settings_docker.py
  weblate/templates/base.html
  weblate/templates/base5.html
  weblate/trans/context_processors.py
  weblate/utils/models.py
Owners: @AliceVisek, @nijel

feat(pending change): display detailed count on the repository status page (#17053)
  weblate/templates/js/git-status.html
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/tests/test_remote.py
  weblate/trans/views/js.py
Owners: @nijel

fix(ui): various js fixes
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

fix(machinery): update DeepL languages mapping
  docs/changes.rst
  weblate/machinery/deepl.py
Owners: @AliceVisek, @nijel

fix(ui): editor js fixes
  weblate/static/editor/full.js
Owners: @KarenKonou

fix(machinery): update DeepL languages mapping
  docs/changes.rst
  weblate/machinery/deepl.py
Owners: @AliceVisek, @nijel

delete labels in migrations
  weblate/trans/migrations/0053_migrate_automatically_translated_label_to_unit_field.py
Owners: @nijel

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Owners: none

Added translation using Weblate (Turkmen)
  weblate/locale/tk/LC_MESSAGES/django.po
Owners: none

Added translation using Weblate (Turkmen)
  weblate/locale/tk/LC_MESSAGES/djangojs.po
Owners: none

Added translation using Weblate (Turkmen)
  docs/locales/tk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Owners: none

Added translation using Weblate (Turkmen)
  docs/locales/tk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Added translation using Weblate (Turkmen)
  weblate/locale/tk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Owners: none

Added translation using Weblate (Turkmen)
  weblate/locale/tk/LC_MESSAGES/djangojs.po
Owners: none
