Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Refactor templates to use Bootstrap 5 classes
  weblate/static/styles/main.css
  weblate/templates/accounts/login.html
  weblate/templates/accounts/register.html
  weblate/templates/accounts/snippets/login-title.html
  weblate/templates/addons/addon_list.html
  weblate/templates/auth/team.html
  weblate/templates/base.html
  weblate/templates/category-language.html
  weblate/templates/category.html
  weblate/templates/component.html
  weblate/templates/keyboard-shortcuts.html
  weblate/templates/keyboard-shortcuts5.html
  weblate/templates/language-project.html
  weblate/templates/manage/backups.html
  weblate/templates/manage/teams.html
  weblate/templates/memory/index.html
  weblate/templates/project.html
  weblate/templates/registration/logged_out.html
  weblate/templates/screenshots/screenshot_detail.html
  weblate/templates/snippets/embed-units.html
  weblate/templates/snippets/info.html
  weblate/templates/snippets/share-menu.html
  weblate/templates/snippets/share-menu5.html
  weblate/templates/snippets/user-sort-field.html
  weblate/templates/snippets/watch-dropdown.html
  weblate/templates/snippets/watch-dropdown5.html
  weblate/templates/trans/alert/addonscripterror.html
  weblate/templates/trans/alert/ambiguouslanguage.html
  weblate/templates/trans/alert/cdnaddonerror.html
  weblate/templates/trans/alert/duplicatelanguage.html
  weblate/templates/trans/alert/duplicatestring.html
  weblate/templates/trans/alert/parseerror.html
  weblate/templates/trans/component_create.html
  weblate/templates/trans/project-access-row.html
  weblate/templates/trans/project-access.html
  weblate/templates/translate.html
  weblate/templates/translation.html
  weblate/templates/zen.html
  weblate/trans/forms.py
Owners: @KarenKonou, @nijel

feat(add-ons): validate webhook secret length
  docs/admin/addons.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/addons/webhooks.py
  weblate/utils/const.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Owners: @AliceVisek, @nijel

feat(docker): integrate Fedora OIDC auth
  docs/admin/install/docker.rst
  weblate/settings_docker.py
Owners: @AliceVisek, @nijel

fix(vcs): use consistent args for create_pull_request
  weblate/vcs/git.py
Owners: @nijel

fix(scripts): remove unused variable
  scripts/rtd-projects.py
Owners: @nijel

chore: remove unused variable assignments
  weblate/accounts/tests/test_registration.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/checks/tests/test_views.py
  weblate/glossary/tests.py
  weblate/machinery/modernmt.py
  weblate/trans/tests/test_edit.py
  weblate/wladmin/tests.py
Owners: @nijel

feat(add-ons): improve installable condition check
  weblate/addons/base.py
  weblate/addons/cdn.py
  weblate/addons/cleanup.py
  weblate/addons/flags.py
  weblate/addons/generate.py
  weblate/addons/gettext.py
  weblate/addons/management/commands/install_addon.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/addons/views.py
  weblate/api/serializers.py
  weblate/trans/guide.py
  weblate/trans/models/component.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel

fix(vcs): use consistent args for create_pull_request
  weblate/vcs/git.py
Owners: @nijel

feat: Basic LLM machinery structures + Local Ollama IA model integration
  pyproject.toml
  uv.lock
  weblate/machinery/forms.py
  weblate/machinery/llm.py
  weblate/machinery/ollama.py
Owners: @nijel

fix(scripts): remove unused variable
  scripts/rtd-projects.py
Owners: @nijel

fix(ui): update modal titles
  weblate/static/styles/main.css
  weblate/templates/accounts/user.html
  weblate/templates/auth/team.html
  weblate/templates/manage/backups.html
  weblate/templates/manage/teams.html
  weblate/templates/memory/index.html
  weblate/templates/trans/project-access-row.html
  weblate/templates/trans/project-access.html
  weblate/templates/translate.html
Owners: @KarenKonou

refactor: some code reorganization and cleanup + local tests with Ollama
  weblate/machinery/llm.py
  weblate/machinery/models.py
  weblate/machinery/ollama.py
Owners: @nijel

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

fix: allow admin login page to be accessible without authentication
  weblate/accounts/tests/test_middleware.py
  weblate/wladmin/sites.py
Owners: @nijel

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

migrate StringsFormat encoding to file format parameters
  weblate/formats/base.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel

migrate CSVFormat and CSVSimpleFormat encoding to file_format_params
  weblate/formats/external.py
  weblate/formats/models.py
  weblate/formats/multi.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/utils.py
Owners: @nijel

migrate PropertiesFormat encoding to file_format_params
  weblate/addons/properties.py
  weblate/formats/models.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_file_format_params.py
  weblate/trans/tests/utils.py
Owners: @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
