Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

tests fix
  ci/run-migrate
  weblate/api/tests.py
  weblate/trans/tests/test_views.py
Owners: @nijel

update new file formats empty_file_template attributes
  weblate/formats/ttkit.py
Owners: @nijel

hide file format parameter fields when no format is selected
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

hide file format parameter fields when no format is selected
  weblate/static/loader-bootstrap.js
Owners: @KarenKonou

fix(hooks): validate full name is provided before using it
  weblate/trans/views/hooks.py
Owners: @nijel

fix(utils): properly detect encoding for system check
  weblate/utils/apps.py
Owners: @nijel

feat(add-ons): move event filtering to the task
  weblate/addons/autotranslate.py
  weblate/addons/base.py
  weblate/addons/fedora_messaging.py
  weblate/addons/tasks.py
  weblate/addons/webhooks.py
Owners: @nijel

fix(hooks): validate full name is provided before using it
  weblate/trans/views/hooks.py
Owners: @nijel

fix(utils): properly detect encoding for system check
  weblate/utils/apps.py
Owners: @nijel

docs: Improve VCS integration documentation clarity (#17166)
  docs/admin/install/docker.rst
  docs/changes.rst
  docs/faq.rst
  docs/vcs.rst
  weblate/trans/migrations/0058_alter_component_push_branch.py
  weblate/trans/models/component.py
Owners: @AliceVisek, @nijel

fix(utils): use locale to get current system encoding
  weblate/trans/management/commands/list_versions.py
  weblate/utils/tasks.py
Owners: @nijel

Apply suggestion from @nijel
  weblate/trans/tests/test_hooks.py
Owners: @nijel

Apply suggestion from @nijel
  weblate/trans/tests/test_hooks.py
Owners: @nijel

fix(utils): use locale to get current system encoding
  weblate/trans/management/commands/list_versions.py
  weblate/utils/tasks.py
Owners: @nijel

chore(tests): extend webhook tests to cover more edge cases
  weblate/trans/tests/test_hooks.py
Owners: @nijel

docs: add documentation and changelog, test: improve coverage, refactor: remove redundant regex
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/format.py
  weblate/checks/tests/test_format_checks.py
Owners: @AliceVisek, @nijel

fix: Add license information for bootstrap5_rtl.j
  client/webpack.config.js
  weblate/static/js/vendor/bootstrap5_rtl.js.license
Owners: @KarenKonou

feat: add support for Laravel format check (#17084) (#17213)
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/format.py
  weblate/checks/models.py
  weblate/checks/tests/test_format_checks.py
  weblate/formats/ttkit.py
Owners: @AliceVisek, @nijel

Update docs/api.rst
  docs/api.rst
Owners: @AliceVisek

Update weblate/api/views.py
  weblate/api/views.py
Owners: @nijel

Update docs/api.rst
  docs/api.rst
Owners: @AliceVisek

Update docs/api.rst
  docs/api.rst
Owners: @AliceVisek

Update docs/api.rst
  docs/api.rst
Owners: @AliceVisek

Update docs/changes.rst
  docs/changes.rst
Owners: @AliceVisek

fix: Add license information for bootstrap5_rtl.j
  client/webpack.config.js
  weblate/static/js/vendor/bootstrap5_rtl.js.license
Owners: @KarenKonou

feat: improve subject for digest notifications
  weblate/accounts/notifications.py
Owners: @nijel

feat: improve subject for digest notifications
  weblate/accounts/notifications.py
Owners: @nijel

Refactor component filtering in API views and tests for improved clarity and functionality
  weblate/api/tests.py
  weblate/api/views.py
Owners: @nijel

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
