Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

fix(ui): fix card header styles
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/manage/performance.html
  weblate/templates/translate.html
Owners: @KarenKonou

chore: Sync with WeblateOrg/meta
  .markdownlint.yml
Owners: none

fix: bump lower bound for cyrtranslit
  pyproject.toml
Owners: none

feat(machinery): support new cyrtranslit languages
  weblate/machinery/cyrtranslit.py
Owners: @nijel

docs: changelog entry
  docs/changes.rst
Owners: @AliceVisek

feat: preserve accents in cyrtranslit
  weblate/machinery/cyrtranslit.py
Owners: @nijel

Apply suggested fix to pyproject.toml from Copilot Autofix
  pyproject.toml
Owners: none

fix(vcs): create git attributes only if not present
  weblate/vcs/git.py
Owners: @nijel

fix(vcs): create git attributes only if not present
  weblate/vcs/git.py
Owners: @nijel

fix: remove duplicate pylint ignore (#17003)
  pyproject.toml
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

feat: use uv native sbom exporter
  .github/workflows/uv-upgrade.yml
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Owners: none

feat: use uv native sbom exporter
  .github/workflows/uv-upgrade.yml
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Owners: none

feat(docker): integrate Fedora OIDC auth
  docs/admin/install/docker.rst
  weblate/settings_docker.py
Owners: @AliceVisek, @nijel

chore(docs): remove outdated versionadded blocks
  docs/wlc.rst
Owners: @AliceVisek

feat(add-ons): improve installable condition check
  weblate/addons/base.py
  weblate/addons/cdn.py
  weblate/addons/cleanup.py
  weblate/addons/flags.py
  weblate/addons/generate.py
  weblate/addons/gettext.py
  weblate/addons/management/commands/install_addon.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/addons/views.py
  weblate/api/serializers.py
  weblate/trans/guide.py
  weblate/trans/models/component.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_file_format_params.py
Owners: @nijel

feat(ci): utilize slim runners for some lightweight tasks
  .github/workflows/dependency-review.yml
  .github/workflows/fossa.yml
  .github/workflows/issue-closed.yml
  .github/workflows/issue-commented.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-milestoned.yml
  .github/workflows/issue-opened.yml
  .github/workflows/issue-reopened.yaml
  .github/workflows/issue-stale.yml
  .github/workflows/milestone-closed.yml
  .github/workflows/pr-stale.yml
  .github/workflows/pull_requests.yaml
Owners: none

feat(add-ons): validate webhook secret length
  docs/admin/addons.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/addons/webhooks.py
  weblate/utils/const.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Owners: @AliceVisek, @nijel

chore(docs): remove outdated versionadded blocks
  docs/wlc.rst
Owners: @AliceVisek

feat(ci): utilize slim runners for some lightweight tasks
  .github/workflows/dependency-review.yml
  .github/workflows/fossa.yml
  .github/workflows/issue-closed.yml
  .github/workflows/issue-commented.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-milestoned.yml
  .github/workflows/issue-opened.yml
  .github/workflows/issue-reopened.yaml
  .github/workflows/issue-stale.yml
  .github/workflows/milestone-closed.yml
  .github/workflows/pr-stale.yml
  .github/workflows/pull_requests.yaml
Owners: none
