Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Revert unwanted changes
  docs/admin/install/docker.rst
  docs/conf.py
Owners: @AliceVisek, @orangesunny, @nijel

fix(translate): hide needs editing checkbox on read-only strings
  weblate/trans/forms.py
Owners: @nijel

feat: add validation of REGISTRATION_ALLOW_BACKENDS
  weblate/accounts/apps.py
  weblate/accounts/views.py
  weblate/auth/models.py
  weblate/auth/utils.py
  weblate/middleware.py
  weblate/utils/checks.py
  weblate/utils/docs.py
Owners: @nijel

docs: Clarify authentication documentation (#15751)
  docs/admin/auth.rst
Owners: @AliceVisek, @orangesunny

fix(translate): hide needs editing checkbox on read-only strings
  weblate/trans/forms.py
Owners: @nijel

feature: button to clear the cache
  weblate/static/editor/full.js
  weblate/templates/translate.html
  weblate/urls.py
Owners: @KarenKonou, @nijel

chore: turn zipfile warnings into errors
  weblate/trans/backups.py
Owners: @nijel

update tests
  weblate/api/tests.py
Owners: @nijel

chore: turn zipfile warnings into errors
  weblate/trans/backups.py
Owners: @nijel

feat(machinery): compatibility with latest models
  docs/changes.rst
  weblate/machinery/forms.py
  weblate/machinery/openai.py
  weblate/machinery/tests.py
Owners: @AliceVisek, @orangesunny, @nijel

feat(machinery): compatibility with latest models
  docs/changes.rst
  weblate/machinery/forms.py
  weblate/machinery/openai.py
  weblate/machinery/tests.py
Owners: @AliceVisek, @orangesunny, @nijel

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Tamil)
  docs/locales/ta/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Tamil)
  docs/locales/ta/LC_MESSAGES/docs.po
Owners: none
