Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (English (United Kingdom))
  weblate/locale/en_GB/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

fix: do not call commit pending called for non-committable changes
  weblate/trans/backups.py
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/translation.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_models.py
  weblate/trans/tests/test_remote.py
  weblate/trans/tests/test_tasks.py
Owners: @nijel

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Use single permission for automatic translation
  docs/admin/access.rst
  docs/changes.rst
  weblate/auth/data.py
  weblate/trans/autotranslate.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/views/basic.py
  weblate/trans/views/edit.py
Owners: @AliceVisek, @nijel

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

feat: show absolute dates for more distant timestamps
  weblate/trans/templatetags/translations.py
Owners: @nijel

feat: Add ability to disable admin contact form
  docs/admin/config.rst
  docs/changes.rst
  weblate/accounts/tests/test_views.py
  weblate/accounts/views.py
Owners: @AliceVisek, @nijel

feat(management): show disk usage
  docs/admin/install.rst
  docs/changes.rst
  weblate/templates/manage/performance.html
  weblate/utils/apps.py
  weblate/utils/checks.py
  weblate/wladmin/views.py
Owners: @AliceVisek, @nijel

feat(management): show disk usage
  docs/admin/install.rst
  docs/changes.rst
  weblate/templates/manage/performance.html
  weblate/utils/apps.py
  weblate/utils/checks.py
  weblate/wladmin/views.py
Owners: @AliceVisek, @nijel

fix(memory): exclude blank context from matching
  weblate/memory/machine.py
Owners: @nijel

feat(ui): remove "must be logged in to translate" alert
  weblate/templates/dashboard/anonymous.html
Owners: none

feat(ui): don't style "sign in" and "lock" messages like errors
  weblate/templates/translate.html
Owners: none

feat(ui): de-emphasize "Skip" button
  weblate/templates/translate.html
Owners: none
