Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  docs/locales/et/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

feat(ci): try rundev on different platforms
  .github/workflows/rundev.yml
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Estonian)
  docs/locales/et/LC_MESSAGES/docs.po
Owners: none

fix(utils): avoid using strxfrm on macOS 15
  weblate/trans/util.py
Owners: @nijel

fix(utils): avoid using strxfrm on macOS 15
  weblate/trans/util.py
Owners: @nijel

only relevant file format params are stored in component
  ci/run-migrate
  weblate/trans/format_params.py
  weblate/trans/migrations/0042_component_file_format_params.py
Owners: @nijel

docs: add changelog entry for 41f3f662561ca30740446505d645a6cdb1a30840
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

feat(vcs): allow pushing in case of merge conflicts
  docs/changes.rst
  weblate/trans/models/component.py
  weblate/vcs/base.py
  weblate/vcs/git.py
Owners: @AliceVisek, @orangesunny, @nijel

feat(backup): improved display of backup size
  weblate/templates/trans/backups.html
  weblate/trans/models/project.py
Owners: @nijel

feat(backup): improved display of backup size
  weblate/templates/trans/backups.html
  weblate/trans/models/project.py
Owners: @nijel

docs: clarify description
  docs/admin/config.rst
Owners: @AliceVisek, @orangesunny

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

chore: add type annotations to backups
  weblate/screenshots/models.py
  weblate/trans/backups.py
Owners: @nijel

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
