Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

fix(component): avoid push if needed for not commited changes
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
Owners: @nijel

fix(add-ons): corrected displaying errors in the log
  weblate/templates/addons/addon_logs.html
Owners: none

chore: log task in from celery
  weblate/utils/celery.py
Owners: @nijel

feature: plurals translation feature
  weblate/lang/models.py
  weblate/machinery/base.py
  weblate/machinery/openai.py
  weblate/machinery/views.py
Owners: @nijel

feat(ghost-translations): use add project language for ghost translations (#15538)
  weblate/accounts/models.py
  weblate/templates/category.html
  weblate/templates/project.html
  weblate/templates/snippets/list-objects.html
  weblate/trans/forms.py
  weblate/trans/models/project.py
  weblate/trans/models/translation.py
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_dashboard.py
  weblate/trans/tests/test_views.py
  weblate/trans/views/basic.py
  weblate/trans/views/dashboard.py
  weblate/utils/stats.py
Owners: @nijel

fix(ci): ignore only exit code 1 from mypy
  .github/workflows/mypy.yml
Owners: none

fix(add-ons): corrected displaying errors in the log
  weblate/templates/addons/addon_logs.html
Owners: none

Tidying up CACHES.default.LOCATION and CELERY_BROKER_URL calculation
  weblate/settings_docker.py
Owners: @nijel

Update docs/admin/install/docker.rst
  docs/admin/install/docker.rst
Owners: @AliceVisek, @orangesunny

fix(tests): fix typo in testcase
  weblate/trans/tests/test_component.py
Owners: @nijel

fix(tests): fix typo in testcase
  weblate/trans/tests/test_component.py
Owners: @nijel

fix(notify): avoid fetching notifications we will not use
  weblate/accounts/notifications.py
Owners: @nijel

feat(docker): Add REDIS_USER env variable (#15687)
  docs/admin/install/docker.rst
  weblate/settings_docker.py
Owners: @AliceVisek, @orangesunny, @nijel

fix(notify): avoid fetching notifications we will not use
  weblate/accounts/notifications.py
Owners: @nijel

add api lock/unlock feature
  docs/api.rst
  weblate/api/tests.py
  weblate/api/views.py
Owners: @AliceVisek, @orangesunny, @nijel

Add setting to hide shared glossary components in projects they are shared to
  docs/admin/config.rst
  docs/admin/install/docker.rst
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/trans/views/basic.py
Owners: @AliceVisek, @orangesunny, @nijel

Hide plus-button menu when user does not have any permissions
  weblate/templates/base.html
Owners: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

fix(zen): remove check for changes in editor when saving
  weblate/static/editor/zen.js
Owners: @KarenKonou

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Owners: none

fix(notifications): avoid fetching all admins
  weblate/accounts/notifications.py
  weblate/accounts/tasks.py
  weblate/accounts/tests/test_notifications.py
Owners: @nijel

docs: add changelog entry for Bootstrap migration
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

chore: improve type annotations
  .github/workflows/mypy.yml
  .gitignore
  docs/contributing/snippets/code-guide.rst
  pyproject.toml
  scripts/filter-mypy.sh
  scripts/generate-cjk-regexp.py
  setup.py
  weblate/accounts/models.py
  weblate/accounts/tests/test_notifications.py
  weblate/auth/models.py
  weblate/configuration/views.py
  weblate/examples/custom_tasks.py
  weblate/gitexport/views.py
  weblate/glossary/forms.py
  weblate/lang/models.py
  weblate/legal/models.py
  weblate/machinery/types.py
  weblate/memory/machine.py
  weblate/memory/management/commands/dump_memory.py
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/middleware.py
  weblate/screenshots/views.py
  weblate/settings_docker.py
  weblate/trans/views/hooks.py
  weblate/trans/views/reports.py
  weblate/utils/request.py
  weblate/wladmin/apps.py
  weblate/wladmin/forms.py
  weblate/wladmin/models.py
  weblate/wladmin/sites.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Owners: @AliceVisek, @orangesunny, @nijel

fix(zen): remove check for changes in editor when saving
  weblate/static/editor/zen.js
Owners: @KarenKonou

chore: improve type annotations (#15713)
  .github/workflows/mypy.yml
  .gitignore
  docs/contributing/snippets/code-guide.rst
  pyproject.toml
  scripts/filter-mypy.sh
  scripts/generate-cjk-regexp.py
  setup.py
  uv.lock
  weblate/accounts/models.py
  weblate/accounts/tests/test_notifications.py
  weblate/auth/models.py
  weblate/configuration/views.py
  weblate/examples/custom_tasks.py
  weblate/gitexport/views.py
  weblate/glossary/forms.py
  weblate/lang/models.py
  weblate/legal/models.py
  weblate/machinery/types.py
  weblate/memory/machine.py
  weblate/memory/management/commands/dump_memory.py
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/middleware.py
  weblate/screenshots/views.py
  weblate/settings_docker.py
  weblate/trans/views/hooks.py
  weblate/trans/views/reports.py
  weblate/utils/request.py
  weblate/wladmin/apps.py
  weblate/wladmin/forms.py
  weblate/wladmin/models.py
  weblate/wladmin/sites.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Owners: @AliceVisek, @orangesunny, @nijel

fix(notifications): avoid fetching all admins
  weblate/accounts/notifications.py
  weblate/accounts/tasks.py
  weblate/accounts/tests/test_notifications.py
Owners: @nijel

fix(glossary): update stats after glossary sync
  weblate/glossary/tests.py
  weblate/trans/models/translation.py
Owners: @nijel

feat: start migrating to Bootstrap 5 (#15113)
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/accounts/forms.py
  weblate/accounts/views.py
  weblate/middleware.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/static/loader-bootstrap.js
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css.map
  weblate/static/vendor/bootstrap/v5/css/bootstrap.css.map.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css.license
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css.map
  weblate/static/vendor/bootstrap/v5/css/bootstrap.rtl.css.map.license
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js.license
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js.map
  weblate/static/vendor/bootstrap/v5/js/bootstrap.bundle.js.map.license
  weblate/templates/accounts/profile.html
  weblate/templates/base5.html
  weblate/templates/snippets/meta-css.html
  weblate/trans/templatetags/translations.py
Owners: @AliceVisek, @orangesunny, @nijel, @KarenKonou
