Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

docs: recommend configuring webhooks for squash add-on
  docs/admin/addons.rst
Owners: @AliceVisek, @orangesunny

docs: recommend configuring webhooks for squash add-on
  docs/admin/addons.rst
Owners: @AliceVisek, @orangesunny

fix(ui): More contrast on text in searchbar in dark mode
  weblate/static/style-dark.css
Owners: @KarenKonou

fix(ui): make authentication icons visible in dark mode
  weblate/static/style-dark.css
Owners: @KarenKonou

docs: describe SECURE_PROXY_SSL_HEADER usage in more detail
  docs/admin/install.rst
  docs/admin/install/docker.rst
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

chore(backup): refactor project directory operations
  .github/workflows/mypy.yml
  weblate/trans/backups.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_backups.py
  weblate/trans/views/settings.py
Owners: @nijel

fix(ui): More contrast on text in searchbar in dark mode (#15742)
  weblate/static/style-dark.css
Owners: @KarenKonou

fix(ci): explicitely specify artifact to download
  .github/workflows/setup.yml
Owners: none

docs: describe SECURE_PROXY_SSL_HEADER usage in more detail
  docs/admin/install.rst
  docs/admin/install/docker.rst
  docs/changes.rst
Owners: @AliceVisek, @orangesunny

fix after merge
  weblate/static/style-dark.css
Owners: @KarenKonou

chore(backup): refactor project directory operations
  .github/workflows/mypy.yml
  weblate/trans/backups.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_backups.py
  weblate/trans/views/settings.py
Owners: @nijel

fix(ci): explicitely specify artifact to download
  .github/workflows/setup.yml
Owners: none

feat(format): support starting from scratch with XLIFF
  docs/changes.rst
  weblate/api/tests.py
  weblate/formats/ttkit.py
Owners: @AliceVisek, @orangesunny, @nijel

fix(ui): make authentication icons visible in dark mode (#15744)
  weblate/static/style-dark.css
Owners: @KarenKonou

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

feat(repo): add link to browse all repository changes
  weblate/templates/js/git-status.html
  weblate/trans/views/js.py
Owners: @nijel

feat(changes): add forced sync and scan operations
  docs/specs/openapi.yaml
  weblate/trans/actions.py
  weblate/trans/migrations/0045_alter_change_action.py
  weblate/trans/models/component.py
Owners: @nijel

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
