Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

fix: remove duplicate error logging
  weblate/trans/views/hooks.py
Owners: @nijel

fix: validate invitation while accepting
  weblate/auth/views.py
Owners: @nijel

chore: update ruff configuration
  pyproject.toml
Owners: none

fix: remove duplicate error logging
  weblate/trans/views/hooks.py
Owners: @nijel

fix: validate invitation while accepting
  weblate/auth/views.py
Owners: @nijel

feat: utilize pathlib for full text read/write
  pyproject.toml
  scripts/extract-release-notes.py
  scripts/rtd-projects.py
  scripts/set-version.py
  weblate/accounts/avatar.py
  weblate/accounts/tests/test_registration.py
  weblate/addons/cdn.py
  weblate/addons/generate.py
  weblate/addons/gettext.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/formats/tests/test_convert.py
  weblate/formats/tests/test_exporters.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/formats/txt.py
  weblate/machinery/tests.py
  weblate/screenshots/tests.py
  weblate/settings_docker.py
  weblate/trans/tests/test_file_format_params.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/tests/test_xliff_placeholders.py
  weblate/utils/backup.py
  weblate/utils/environment.py
  weblate/utils/icons.py
  weblate/utils/tasks.py
  weblate/utils/tests/test_backup.py
  weblate/utils/tests/test_files.py
  weblate/utils/tests/test_version.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/ssh.py
  weblate/vcs/tests/test_ssh.py
  weblate/vcs/tests/test_vcs.py
  weblate/wladmin/tests.py
Owners: @nijel

chore: update ruff configuration
  pyproject.toml
Owners: none

chore: update codecov configuration
  codecov.yml
Owners: none

feat: utilize pathlib for full text read/write
  pyproject.toml
  scripts/extract-release-notes.py
  scripts/rtd-projects.py
  scripts/set-version.py
  weblate/accounts/avatar.py
  weblate/accounts/tests/test_registration.py
  weblate/addons/cdn.py
  weblate/addons/generate.py
  weblate/addons/gettext.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/formats/tests/test_convert.py
  weblate/formats/tests/test_exporters.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/formats/txt.py
  weblate/machinery/tests.py
  weblate/screenshots/tests.py
  weblate/settings_docker.py
  weblate/trans/tests/test_file_format_params.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/tests/test_xliff_placeholders.py
  weblate/utils/backup.py
  weblate/utils/environment.py
  weblate/utils/icons.py
  weblate/utils/tasks.py
  weblate/utils/tests/test_backup.py
  weblate/utils/tests/test_files.py
  weblate/utils/tests/test_version.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/ssh.py
  weblate/vcs/tests/test_ssh.py
  weblate/vcs/tests/test_vcs.py
  weblate/wladmin/tests.py
Owners: @nijel

feat(ui): remove suggest icon from button (#16905)
  weblate/templates/translate.html
Owners: none

fix(dashboard): exclude glossary components from listing
  weblate/trans/views/dashboard.py
Owners: @nijel

chore: simplify generator type annotations
  weblate/formats/auto.py
  weblate/trans/models/unit.py
  weblate/trans/util.py
Owners: @nijel

fix(dashboard): exclude glossary components from listing
  weblate/trans/views/dashboard.py
Owners: @nijel

chore: simplify generator type annotations
  weblate/formats/auto.py
  weblate/trans/models/unit.py
  weblate/trans/util.py
Owners: @nijel

fix(memory): exclude blank context from matching
  weblate/memory/machine.py
Owners: @nijel

fix(checks): assume "number" parameter is numeric
  weblate/checks/icu.py
Owners: @nijel

feat(discovery): preserve file format params
  docs/changes.rst
  weblate/trans/discovery.py
Owners: @AliceVisek, @nijel

move pending change filters to database, add tests
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_models.py
Owners: @nijel

fix(checks): assume "number" parameter is numeric
  weblate/checks/icu.py
Owners: @nijel

fix distinct for mysql
  weblate/trans/models/component.py
Owners: @nijel

fix distinct for mysql - 2 and fix test
  weblate/trans/models/translation.py
  weblate/trans/tests/test_tasks.py
Owners: @nijel

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none
