Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @orangesunny, @KarenKonou, @nijel

Translated using Weblate (Norwegian Bokmål)
  weblate/locale/nb/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (English (United Kingdom))
  weblate/locale/en_GB/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Tamil)
  weblate/locale/ta/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Esperanto)
  weblate/locale/eo/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Add tests
  weblate/utils/tests/test_ratelimit.py
Owners: @nijel

Multi-Level Rate Limiting for Notification E-Mails
  weblate/accounts/notifications.py
  weblate/settings_example.py
  weblate/utils/ratelimit.py
  weblate/utils/tests/test_ratelimit.py
Owners: @nijel

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(js): update vendored libraries
  client/yarn.lock
Owners: @KarenKonou

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

fix: update shellcheck warning
  weblate/examples/git-merge-gettext-po
Owners: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Owners: none

fix: update shellcheck warning
  weblate/examples/git-merge-gettext-po
Owners: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek @orangesunny
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
