Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

feat: Hide contact form links when disabled
  weblate/templates/about/index.html
  weblate/templates/accounts/email-sent.html
  weblate/templates/accounts/profile.html
  weblate/templates/accounts/register.html
  weblate/templates/base.html
  weblate/templates/base5.html
  weblate/templates/footer.html
  weblate/templates/mail/shared-activity.html
  weblate/templates/mail/shared-registration.html
  weblate/templates/new-language.html
  weblate/templates/new-project-language.html
  weblate/trans/context_processors.py
Owners: @nijel

feat(ui): don't style "sign in" and "lock" messages like errors
  weblate/templates/translate.html
Owners: none

feat(ui): remove "must be logged in to translate" alert
  weblate/templates/dashboard/anonymous.html
Owners: none

fix(permissions): include translation check in review
  weblate/auth/permissions.py
Owners: @nijel

chore: test bilingual update availability by a class
  weblate/auth/permissions.py
  weblate/trans/forms.py
  weblate/trans/models/component.py
Owners: @nijel

fix(permissions): include translation check in review
  weblate/auth/permissions.py
Owners: @nijel

chore: test bilingual update availability by a class
  weblate/auth/permissions.py
  weblate/trans/forms.py
  weblate/trans/models/component.py
Owners: @nijel

feat(billing): log project backup events
  weblate/billing/migrations/0006_billinglog_details_alter_billinglog_event.py
  weblate/billing/models.py
  weblate/billing/views.py
  weblate/templates/billing/detail.html
  weblate/trans/backups.py
  weblate/trans/tasks.py
  weblate/urls.py
Owners: @nijel

Update weblate/templates/billing/detail.html
  weblate/templates/billing/detail.html
Owners: none

Use btn-link
  weblate/templates/translate.html
Owners: none

feat(billing): log project backup events (#16886)
  weblate/billing/migrations/0006_billinglog_details_alter_billinglog_event.py
  weblate/billing/models.py
  weblate/billing/views.py
  weblate/templates/billing/detail.html
  weblate/trans/backups.py
  weblate/trans/tasks.py
  weblate/urls.py
Owners: @nijel

fix: make add_site_url filter more robust
  weblate/accounts/templatetags/site_url.py
  weblate/accounts/tests/test_templatetags.py
Owners: @nijel

fix: make add_site_url filter more robust
  weblate/accounts/templatetags/site_url.py
  weblate/accounts/tests/test_templatetags.py
Owners: @nijel

Initial Ollama machinery tools for local Ollama IA model integration
  weblate/machinery/forms.py
  weblate/machinery/ollama.py
Owners: @nijel

Ported working code onto 5.13.3
  .gitignore
  Setup-ongoing.md
  pyproject.toml
  scripts/README_create_project.md
  scripts/auto/QUICKSTART.md
  scripts/auto/README.md
  scripts/auto/add_translation.py
  scripts/auto/batch_component_setup.py
  scripts/auto/component_example.json
  scripts/auto/create_component.py
  scripts/auto/delete_all_components.py
  scripts/auto/project_config_example.json
  scripts/auto/setup_component.py
  scripts/auto/setup_example.json
  scripts/auto/web_example.json
  start-weblate.sh
  stop-weblate.sh
  weblate/formats/asciidoc.py
  weblate/formats/models.py
  weblate/trans/models/__init__.py
  weblate/trans/models/translation.py
  weblate/utils/openrouter_translator.py
Owners: @nijel

feat(ui): de-emphasize "Skip" button (#16876)
  weblate/templates/translate.html
Owners: none

feat: Add ability to disable admin contact form (#16867)
  docs/admin/config.rst
  docs/changes.rst
  weblate/accounts/tests/test_views.py
  weblate/accounts/views.py
  weblate/templates/about/index.html
  weblate/templates/accounts/email-sent.html
  weblate/templates/accounts/profile.html
  weblate/templates/accounts/register.html
  weblate/templates/base.html
  weblate/templates/base5.html
  weblate/templates/footer.html
  weblate/templates/mail/shared-activity.html
  weblate/templates/mail/shared-registration.html
  weblate/templates/new-language.html
  weblate/templates/new-project-language.html
  weblate/trans/context_processors.py
Owners: @AliceVisek, @nijel

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
