Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Owners: none

imporve tests and coverage
  weblate/trans/tasks.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/views/edit.py
Owners: @nijel

documentation update
  docs/admin/access.rst
  docs/changes.rst
  docs/user/translating.rst
  weblate/auth/data.py
  weblate/trans/views/basic.py
  weblate/trans/views/edit.py
Owners: @AliceVisek, @nijel

Support various models in auto_translate
  weblate/addons/autotranslate.py
  weblate/checks/tests/test_models.py
  weblate/glossary/tasks.py
  weblate/trans/autotranslate.py
  weblate/trans/models/translation.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/views/basic.py
  weblate/trans/views/edit.py
Owners: @nijel

update Celery task progress information
  weblate/trans/autotranslate.py
Owners: @nijel

add "Batch automatic translation" to menu and autoform Form
  weblate/templates/category.html
  weblate/templates/component.html
  weblate/templates/language-project.html
  weblate/templates/snippets/autoform.html
  weblate/templates/translation.html
Owners: none

Translated using Weblate (Persian)
  weblate/locale/fa/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

minor test tweaks
  weblate/trans/autotranslate.py
  weblate/trans/tests/test_autotranslate.py
Owners: @nijel

feat(ui): Update customization css template
  weblate/templates/configuration/custom.css
Owners: @KarenKonou

fix(ui): fix color coding of search result cells
  weblate/static/styles/main.css
Owners: @KarenKonou

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Owners: none

feat(api): show admins of group
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
Owners: @AliceVisek, @nijel

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
