Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Esperanto)
  weblate/locale/eo/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Owners: none

feat: use askalono to detect licenses
  docs/admin/install.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/trans/views/create.py
  weblate/utils/licenses.py
  weblate/utils/tests/test_licenses.py
Owners: @AliceVisek, @nijel

feat: use askalono to detect licenses (#17045)
  docs/admin/install.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/trans/views/create.py
  weblate/utils/licenses.py
  weblate/utils/tests/test_licenses.py
Owners: @AliceVisek, @nijel

Fix som bugs: - remove the temporary html file when the translation is removed. - fix minor auto translation bug.
  weblate/trans/autobatchtranslate.py
  weblate/trans/models/__init__.py
  weblate/trans/models/translation.py
Owners: @nijel

address changes from code review
  docs/user/search.rst
  weblate/templates/snippets/query-builder.html
  weblate/templates/translate.html
  weblate/trans/models/project.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_search.py
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Owners: @AliceVisek, @nijel

remove LabelsField
  weblate/trans/migrations/0001_squashed_weblate_5.py
  weblate/trans/models/unit.py
Owners: @nijel

fix(machinery): do not interpret replacement string for placeholders
  weblate/machinery/base.py
  weblate/machinery/dummy.py
  weblate/machinery/tests.py
Owners: @nijel

fix(machinery): do not interpret replacement string for placeholders
  weblate/machinery/base.py
  weblate/machinery/dummy.py
  weblate/machinery/tests.py
Owners: @nijel

Update weblate/accounts/tests/test_middleware.py
  weblate/accounts/tests/test_middleware.py
Owners: @nijel

fix(ui): update styles to use badges instead of labels and adjust color edit input styles
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/bootstrap5/layout/radio_checkbox_select.html
  weblate/templates/bootstrap5/layout/radioselect.html
  weblate/templates/mail/base.html
  weblate/templates/manage/backups.html
  weblate/templates/project-labels.html
  weblate/templates/snippets/glossary-badge.html
  weblate/templates/translate.html
Owners: @KarenKonou

fix: lint
  weblate/templates/bootstrap5/layout/radio_checkbox_select.html
Owners: none

Apply suggestion from @nijel
  weblate/accounts/tests/test_middleware.py
Owners: @nijel

Apply suggestion from @nijel
  docs/changes.rst
Owners: @AliceVisek

docs: Remove no longer available settings
  docs/admin/config.rst
Owners: @AliceVisek

Remove URL exceptions documentation for authentication
  docs/admin/install/docker.rst
Owners: @AliceVisek

Fix formatting for LOGIN_REQUIRED_URLS_EXCEPTIONS
  docs/changes.rst
Owners: @AliceVisek

Change decorators to apply to dispatch method
  weblate/configuration/views.py
Owners: @nijel

fix(ui): remove unused shortcuts modal and update references
  weblate/static/js/keyboard-shortcuts.js
  weblate/templates/keyboard-shortcuts.html
Owners: @KarenKonou

fix(tests): update test
  weblate/accounts/tests/test_registration.py
Owners: @nijel

fix tests
  weblate/trans/models/unit.py
  weblate/utils/tests/test_search.py
Owners: @nijel

Clarify LOGIN_REQUIRED_URLS configuration in docs
  docs/admin/config.rst
Owners: @AliceVisek

Apply suggestion from @nijel
  docs/admin/config.rst
Owners: @AliceVisek

feat: replace custom middleware with Django's LoginRequiredMiddleware (#16956)
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/accounts/middleware.py
  weblate/accounts/tests/test_middleware.py
  weblate/accounts/views.py
  weblate/configuration/views.py
  weblate/gitexport/views.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/wladmin/sites.py
Owners: @AliceVisek, @nijel

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Azerbaijani)
  docs/locales/az/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel
