Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

docs: Change Weblate installation command in docs (#16794)
  docs/admin/deployments.rst
Owners: @AliceVisek

fix(update from source): include `original_state` in comparison state
  weblate/trans/migrations/0051_pendingunitchange_original_state.py
  weblate/trans/models/pending.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_remote.py
Owners: @nijel

fix(notifications): send in smaller batches per SMTP connection
  weblate/accounts/notifications.py
  weblate/accounts/tasks.py
Owners: @nijel

fix(checks): optimize prefetching data from the database
  weblate/trans/models/unit.py
  weblate/trans/tasks.py
Owners: @nijel

fix(checks): optimize prefetch for bulk source checks
  weblate/checks/source.py
Owners: @nijel

fix(notifications): send in smaller batches per SMTP connection
  weblate/accounts/notifications.py
  weblate/accounts/tasks.py
Owners: @nijel

fix(checks): optimize prefetching data from the database
  weblate/trans/models/unit.py
  weblate/trans/tasks.py
Owners: @nijel

fix(checks): optimize prefetch for bulk source checks
  weblate/checks/source.py
Owners: @nijel

Update changes for Weblate 5.14.1 release
  docs/changes.rst
Owners: @AliceVisek

feat(history): Track and display string context in changes history (#16748)
  docs/changes.rst
  weblate/trans/change_display.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_changes.py
Owners: @AliceVisek, @nijel

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Owners: none

fix(component): fixed pending units handling
  weblate/trans/models/component.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_remote.py
  weblate/trans/tests/test_views.py
Owners: @nijel

Apply suggestions from code review
  weblate/trans/tests/test_remote.py
Owners: @nijel

Update docs/admin/backup.rst
  docs/admin/backup.rst
Owners: @AliceVisek

Update docs/admin/backup.rst
  docs/admin/backup.rst
Owners: @AliceVisek

fix(component): fixed pending units handling (#16805)
  weblate/trans/models/component.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_remote.py
  weblate/trans/tests/test_views.py
Owners: @nijel

feat(checks): tread undescribed count as plural
  docs/changes.rst
  weblate/checks/icu.py
  weblate/checks/tests/test_icu_checks.py
Owners: @AliceVisek, @nijel
