Repository WeblateOrg/weblate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AliceVisek, @KarenKonou, @nijel

.github/CODEOWNERS:

# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

*.rst @AliceVisek
/client/ @KarenKonou
*.js @KarenKonou
*.css @KarenKonou
*.py @nijel

Typo in unit
  weblate/api/views.py
Owners: @nijel

fix(vcs): sanitize mercurial error messages
  weblate/vcs/base.py
  weblate/vcs/mercurial.py
Owners: @nijel

feat(label): add change events for label assignment and removal (#17099)
  docs/specs/openapi.yaml
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/actions.py
  weblate/trans/bulk.py
  weblate/trans/forms.py
  weblate/trans/migrations/0056_alter_change_action.py
  weblate/trans/models/comment.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_labels.py
Owners: @nijel

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Saraiki)
  weblate/locale/skr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Saraiki)
  weblate/locale/skr/LC_MESSAGES/djangojs.po
Owners: none

feat(vcs): extended filtering of allowed VCS URLs
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  docs/faq.rst
  docs/vcs.rst
  weblate/settings_docker.py
  weblate/settings_test.py
  weblate/trans/migrations/0057_alter_component_push_alter_component_repo.py
  weblate/trans/models/component.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
  weblate/vcs/git.py
  weblate/vcs/models.py
Owners: @AliceVisek, @nijel

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Saraiki)
  weblate/locale/skr/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Saraiki)
  weblate/locale/skr/LC_MESSAGES/djangojs.po
Owners: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Owners: none

feat(versions): correctly report redict server version
  weblate/utils/requirements.py
Owners: @nijel

feat(vcs): extended filtering of allowed VCS URLs
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  docs/faq.rst
  docs/vcs.rst
  weblate/settings_docker.py
  weblate/settings_test.py
  weblate/trans/migrations/0057_alter_component_push_alter_component_repo.py
  weblate/trans/models/component.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
  weblate/vcs/git.py
  weblate/vcs/models.py
Owners: @AliceVisek, @nijel

feat(versions): correctly report redict server version
  weblate/utils/requirements.py
Owners: @nijel

feat(vcs): make API timeout configurable
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/settings_docker.py
  weblate/vcs/git.py
  weblate/vcs/models.py
Owners: @AliceVisek, @nijel

fix(auth): add homoglyph validation
  docs/changes.rst
  pyproject.toml
  uv.lock
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Owners: @AliceVisek, @nijel

feat(vcs): make API timeout configurable
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/settings_docker.py
  weblate/vcs/git.py
  weblate/vcs/models.py
Owners: @AliceVisek, @nijel

fix(auth): add homoglyph validation (#17105)
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Owners: @AliceVisek, @nijel

fix(migrations): update all units at once
  weblate/trans/migrations/0053_migrate_automatically_translated_label_to_unit_field.py
Owners: @nijel

fix(migrations): update all units at once
  weblate/trans/migrations/0053_migrate_automatically_translated_label_to_unit_field.py
Owners: @nijel

fix(api): do not report failure on no-op commit
  weblate/trans/models/component.py
Owners: @nijel

fix(ui): various minor fixes
  weblate/static/editor/full.js
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/translate.html
Owners: @KarenKonou

Fix OpenAPI schema and remove permission check
  weblate/api/views.py
Owners: @nijel

Update docs/api.rst to address review comment
  docs/api.rst
Owners: @AliceVisek

fix(api): do not report failure on no-op commit
  weblate/trans/models/component.py
Owners: @nijel

fix(ui): dark mode fixes
  weblate/static/style-dark.css
Owners: @KarenKonou

added the multi download functionality with tests
  weblate/api/tests.py
  weblate/api/views.py
Owners: @nijel

test: fixed some config in tests + URL checks in docs
  docs/admin/machine.rst
  weblate/machinery/tests.py
Owners: @AliceVisek, @nijel

fix: documentation mess + added simple changelog line
  docs/changes.rst
Owners: @AliceVisek

fix: machine.rst Ollama section table format
  docs/admin/machine.rst
Owners: @AliceVisek

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Owners: none

Translated using Weblate (Catalan)
  weblate/locale/ca/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Owners: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Owners: none
